<header class="top-header container" data-ng-controller = "HeaderCtrl">
  <!-- Logo -->
  <div class="row">
    <div class="logo col-xs-3">
      <a href="#/landing">
        <img src="images/xdensity-logo.png" alt="user" class="img-responsive">
      </a>
    </div>

    <div class="top-nav col-xs-9" >
      <ul class="nav-left list-unstyled">
        <li class="dropdown text-normal nav-profile pull-right" uib-dropdown is-open="status.isopenProfile">
          <a href="javascript://" uib-dropdown-toggle ng-disabled="disabled">
            <span>
              &nbsp;<i class="fa fa-bars" style="font-size: 2em;"></i>
            </span>
          </a>
          <ul class="dropdown-menu bg-dark" uib-dropdown-menu>
            <li class="nav-item">
              <a href="javascript://" ng-click="navigateTo('/landing')">
                <i class="fa fa-file-text-o"></i>
                <span>Overview</span>
              </a>
            </li>
            
            <!-- custom dashboards section based on user roles -->
            <li ng-include="'app/layout/nav-bar-templates/ceo-dashboards.html'" 
              ng-if="userRole == 'CEO' || userRole == 'CTO' || userRole == 'SLMGR' || userRole == 'FLDSL' "/>
            <!-- <li ng-include="'app/layout/nav-bar-templates/sales-mgr-dashboards.html'" 
              ng-if="userRole == 'SLMGR'"/>
            <li ng-include="'app/layout/nav-bar-templates/field-sales-dashboards.html'" 
              ng-if="userRole == 'FLDSL'"/> -->
            <!--#############-->

            <li class="nav-item">
              <i class="fa fa-map"></i>
              <span class="text-uppercase">Tracking</span>
              <ul class="sub-menu">
                <li class="nav-item">
                  <a href="javascript://" ng-click="navigateTo('/search')">
                    <i class="fa fa-search"></i>
                    <span>Search Vendors</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="javascript://">
                    <i class="fa fa-envelope"></i>
                    <span>Mail</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="javascript://">
                    <i class="fa fa-newspaper-o"></i>
                    <span>News</span>
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <i class="fa fa-list"></i>
              <span class="text-uppercase">Others</span>

              <ul class="sub-menu">
                <li class="nav-item">
                  <a href="javascript://" ng-click="navigateTo('/my-profile')">
                    <i class="fa fa-user"></i>
                    <span>My Profile</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="javascript://">
                    <i class="fa fa-cog"></i>
                    <span>Settings</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a ng-click="logOut()">
                    <i class="fa fa-sign-out"></i>
                    <span>Log Out</span>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</header>