<header class="top-header clearfix" data-ng-controller = "HeaderCtrl">
  <!-- Logo -->
  <div class="logo">
    <a href="#/">
      <img src="images/xdensity-logo.png" alt="user" class="img-responsive">
    </a>
  </div>

  <div class="top-nav">
    <ul class="nav-left list-unstyled">
      <li class="dropdown text-normal nav-profile pull-right" uib-dropdown is-open="status.isopenProfile">
        <a href="javascript:;" uib-dropdown-toggle ng-disabled="disabled">
          <span>
            &nbsp;<i class="fa fa-bars" style="font-size: 2em;"></i>
          </span>
        </a>
        <ul class="dropdown-menu bg-dark" uib-dropdown-menu>
          <li style="padding: 7px 10px;">
            <i class="fa fa-tachometer"></i>
            <span class="text-uppercase">Dashboards</span>
            <ul class="sub-menu">
              <li class="nav-item">
                <a href="javascript://" ng-click="navigateTo('/financial-dashboard')">
                  <i class="fa fa-line-chart"></i>
                  <span>Financial</span>
                </a>
              </li>
              <li class="nav-item">
                <a href="javascript://" ng-click="navigateTo('/customers-dashboard')">
                  <i class="fa fa-money"></i>
                  <span>Customers</span>
                </a>
              </li>
              <li class="nav-item">
                <a href="javascript://" ng-click="navigateTo('/financial-dashboard')">
                  <i class="fa fa-user"></i>
                  <span>HR</span>
                </a>
              </li>
            </ul>
          </li>
          <li>
            <a href="javascript://">
              <i class="fa fa-user"></i>
              <span class="text-uppercase">My Profile</span>
            </a>
          </li>
          <li>
            <a ng-click="logOut()">
              <i class="fa fa-sign-out"></i>
              <span class="text-uppercase">Log Out</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</header>