/*UTIL CLASSES*/

.mobile-right {
  float: right;
}
.pad-b-20{
  padding-bottom: 20px;
}

.pad-l-0{
	padding-left: 0;
}
.pad-t-0{
  padding-top: 0;
}
.pad-b-0{
  padding-bottom: 0;
}
.pad-r-0{
	padding-right: 0;
}
.pad-r-5{
  padding-right: 5px;
}
.pad-25{
	padding: 25px;
}

.padding-t10 {
  padding-top: 10px;
}

.margin-t20{
  margin-top: 20px;
}

.margin-t10{
  margin-top: 10px;
}

.light-grey{
  color: #ccc;
}

a {
	word-wrap: break-word;
  color: #0079c1;
}

.highlight{
  background-color: #60CFEF;
  color: #333;
}

ul {
  list-style: none;
}

a:hover {
	cursor: pointer;
  color: #6D8594;
}

.btn[disabled]{
  cursor:default;
  opacity: 0.9;
}

#content {
  bottom: 0;
}

.custom-modal-body{
  max-height:490px;
  overflow-y:scroll;
}

.signin-header.backgroud-white{
  background-color:#fff;
}



.img40_40{
  height: 40px;
  width: 40px;
}

.align-bottom{
  vertical-align: bottom;
}
/*-------*/

/*SEARCH PAGE STYLES*/
.results-section{
	margin-top: 10px;
}

.results-container{
	border: 1px solid #DCDCDC;
	margin-top:10px;
}

.search-result{
  margin: 10px 0 10px 0;
}

.search-result:not(:last-child) > .desc-col .optional-links{
  border-bottom: 1px solid #DCDCDC;
}
.result-arrow i{
	font-size:110px;
}
.adv-search-mobile .dropdown-menu{
	min-width: 185px;
  left:auto;
  padding: 0 10px 0 10px;
}

.sub-menu {
	list-style: none !important;
	padding-left: 11px;
  margin: 5px 0 20px 0;
}

.sub-menu label{
	 margin: 0 10px 10px 20px;
}

.sub-menu .ui-checkbox span{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu-title{
  padding-left: 10px;
  border-bottom: 1px solid #DCDCDC;
}

.year-filter select{
	min-width: 158px;
  height: 35px;
  width:auto;
}
.relevance-filter select{
  width: auto;
}
.search-type {
  padding-left: 0;
}

.adv-search-mobile .sub-menu li span {
    white-space: normal !important;
}

.page-search .ui-accordion .panel-group .panel-heading + .panel-collapse .panel-body {
  border: none;
}

@media only screen and (max-device-width : 667px) {
 .search-bar{
 	margin-top:10px;
 }
 .relevance-filter{
 	margin:0;
 }

}
/*-------*/
/*MEDIA QUERIES*/

/*up to iPhone 6*/
@media only screen and (max-device-width : 667px) {
  .mobile-center{
  text-align:center;
  }

  .search-type {
    padding-left: 15px;
  }
}

/*up to iPad*/
@media only screen and (max-device-width : 768px) {

}
/*-------*/

ul.list-unstyled {
  width: 100%;
  display: block;
}

.header-container > .top-header .logo > a {
    font-size: 18px;
    vertical-align: middle;
    text-transform: uppercase;
    background: rgba(255,255,255,.1);
    padding: 15px 15px;
}

.header-container > .top-header .top-nav .nav-left {
    font-size: 14px;
}

.app-footer {
  background-color: #242633;
  border-top: 1px solid #242633;
  position: absolute;
  z-index: 4;
}

.app-footer .span {
  font-size: 14px;
  color: 'white';
}

.panel-heading {
  background-color: #f6f6f6;
  border-color: #e9e9e9;
}

.callout-success {
  margin: 0 0 5px 0;
  padding: 5px;
  border-left: 3px solid #60CD9B;
}

.callout-date {
  font-size: 12px;
}

.callout-heading {
  font-weight: bold;
}

.search-description-wrapper {
  line-height: 1.6;
  max-height: 70px;
  overflow: hidden;
  /*padding: 0 25px 0 0;*/
  word-wrap: break-word;
}

.header-container > .top-header .logo > a {
    font-size: 18px;
    vertical-align: middle;
    text-transform: uppercase;
    background: rgba(255,255,255,.1);
    padding: 15px 15px;
}

.header-container > .top-header .top-nav .nav-left {
    font-size: 14px;
}

.panel-heading {
  background-color: #f6f6f6;
  border-color: #e9e9e9;
}

.panel {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-out;
}
.panel:hover {
  box-shadow:4px 4px 7px -3px rgba(0,0,0,0.9);
}
.panel-default {
    border-color: #E9E9E9;
}
.panel-container {
  background: #FFF;
  position: relative;
  z-index: 1;
}
.panel-heading {
  background-color: #FFF;
  border-color: #EEE;
}

.widget-menu {
    position: absolute;
    right: -12px;
    width: 28px;
    min-height: 60px;
    opacity: 0.6;
    top: 8px;
    z-index: 0;
}
.widget-menu div {
    height: 30px;
    padding: 5px;
    background-color: #FFF;
    text-align: center;
    cursor: pointer;
}
.widget-menu div.remove,
.widget-menu div.expand {
    font-size: 14px;
    font-weight: bold;
    color: #888;
}
.widget-menu div.remove:hover .fa-times,
.widget-menu div.expand:hover .fa-expand {
    color: #000;
    opacity: 1;
}

@-webkit-keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
  -webkit-animation-duration: 1s;
}


@-webkit-keyframes slideOutLeft {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    z-index: -1;
    -webkit-transform: translate3d(-120%, 0, 0);
    transform: translate3d(-120%, 0, 0);
  }
}


@keyframes slideOutLeft {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    z-index: -1;
    visibility: hidden;
    -webkit-transform: translate3d(-120%, 0, 0);
    transform: translate3d(-120%, 0, 0);
  }
}

.slideOutLeft {
  -webkit-animation-name: slideOutLeft;
  animation-name: slideOutLeft;
  -webkit-animation-duration: 1.5s;
}

.header-container > .top-header .logo {
    position: absolute;
    width: 100%;
    height: 50px;
    line-height: 45px;
    text-align: center;
}
.header-container > .top-header .logo {
    line-height: 45px;
    text-align: center;
    width: 160px;
}
.header-container > .top-header .logo .img-responsive {
    display: inline-block;
    height: 40px;
}

.header-container.bg-white .top-nav li a:hover {
    color: #242633;
}
.header-container.bg-white .top-nav li.active a {
    color: #0079c1;
}
.panel-body {
  min-height:  400px;
}


.pl-0 {
  padding-left: 0;
}
.pr-0 {
  padding-right: 0;
}


.page {
  padding: 30px;
}
.panel-heading {
    color: #0079c1;
}
.search-panel .panel-body {
    min-height: auto;
}
.search-panel {
  position: relative;
  margin: -30px -15px 30px;
  padding: 15px 25px;
  background: url(../images/background/8.jpg) center center no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.search-panel .row{
  margin: 0 -25px;
}
.search-panel input.form-control,
.search-panel .search-btn {
  border-width: 0;
  height: 37px;
}

.search-panel .ui-select {
    border: 1px solid #FFF;
    border-left: 1px solid #DDD;
    background: #FFF;
    margin: 0;
    width: 100%;
}
.search-panel .ui-select > select {
    z-index: 99;
    display: block;
    position: relative;
    padding: 10px 22px 10px 8px;
    min-width: 100%;
    width: 100%;
}
.search-panel .ui-select:after {
  right: 10%;
}
.search-panel .btn-widget {
    border-radius: 50%;
    padding: 0px;
    background: #FFF;
    color: #FFF;
    height: 37px;
    line-height: 43px;
    outline: none;
    border: none;
    width: 37px;
}
.search-panel .btn-widget .fa {
  font-size: 22px;
  color: #0079c1;
}

.widget-hading .ui-select {
    margin: 0;
    border: 0;
}
.widget-hading .ui-select > select {
    z-index: 99;
    display: inline-block;
    padding: 0 10px 0 0;
    min-width: auto;
    font-size: 14px;
    font-weight: normal;
}
.widget-filter-container {
    padding: 15px 15px 10px 15px;
    width: 648px;
}
.dropdown-menu {
  left: -323px;
}
.result-title {
    font-size: 18px;
    font-weight: 500;
    color: #333;
}

.ui-checkbox input[type="checkbox"]:checked + span:before {
    border: 1px solid #0079c1;
}
.ui-checkbox input[type="checkbox"]:checked + span:after {
    background-color: #0079c1;
  }
.ui-checkbox input[type="checkbox"] + span:hover:before {
    border-color: #0079c1;
}


.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
    z-index: 3;
    color: #fff;
    background-color: #0079c1;
    border-color: #0079c1;
    cursor: default;
}


.page-dashboard-customer .custom-select {
  border-bottom: 2px solid #50A5EE;
}
.page-dashboard-customer .range-container{
  padding: 5px 0 20px;
}
.page-dashboard-customer .ui-select > select {
  padding: 4px 5px 4px 1px;
}
.page-dashboard-customer .ui-select:after {
  color: #50A5EE;
  right: 0;
}

@media only screen and (max-width: 768px) {
  .panel-body {
    padding: 5px 10px;
  }
  .page {
    padding: 0 30px;
    overflow-x: auto;
  }
  .search-panel {
    margin: 0 -15px 30px;
    padding: 15px;
  }

  .app > .header-container.header-fixed + .main-container {
      padding-top: 50px;
  }
  .header-container > .top-header .top-nav {
    width: 75%;
    height: 50px;
    padding: 0 0;
    float: left;
    display: block;
  }
  .header-container > .top-header .logo {
      line-height: 45px;
      text-align: center;
      width: 25%;
      border: 0;
      position: relative;
      float: left;
  }
  .header-container > .top-header .logo .img-responsive {
    display: inline-block;
    height: 30px;
  }
  .header-container > .top-header .top-nav .nav-left > li > a {
    padding: 15px 9px;
  }
  .pr-15 {
    padding-right: 15px;
  }
  .page-search .container {
    margin: 0 -22px;
  }
}

.ui-select select {
  text-transform: none;
}

th, td {
  padding: 5px !important;
  font-size: 12px;
}

p.search-description {
  border-bottom: 1px dashed #eee;
}

/*changes for footer positioning*/
.app > .main-container {
    height: 100%;
    min-height: 100vh;
}

#content {
    bottom: 0;
    padding-bottom: 40px;
}
/*-------------------------*/
/*sign in page styles*/
@media only screen and (min-width: 768px){
  .login-form{
    margin-top:5%;
  }
}
/*-------------------------*/
/*profile page styles*/

.profile-header.custom-profile-header{
  padding: 20px 30px 40px;
}
.mini-box.custom-minibox{
  padding: 25px 0 25px 15px;
}
/*-------------------------*/

.panel .panel-heading {
  font-size: 17px;
}
.person-info h4 {
  margin: 0;
  color: #333;
  font-weight: normal;
}
.person-info h5 {
    color: #777;
    font-weight: normal;
    margin: 8px 0;
  }
.page-person .other-info {
  color: #333;
  font-size: 14px;
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid #ccc;
}
.page-person .other-info:last-child {
  border-right: 0;
}
.page-person .other-info span {
  color: #777;
}
.badge {
    top: -2px;
    position: relative;
}

.results-container {
    border: 0;
    border-left: 0;
    margin-top: -10px;
    box-shadow: -5px 0 7px -5px #333;
}


@media only screen and (max-width: 768px) {
  /*.person-info {
    padding-left: 0;
  }*/
  .person-info .other-info {
    display: block;
    border-right: 0;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
  }
  .page-person .other-info:last-child {
    border-right: 0;
    border-bottom: 0;
  }
  .results-container {
  border: 0;
  border-left: 0;
  margin-top: 10px;
  box-shadow: none;
}
}
/*
@media only screen and (max-width: 767px) {
  .person-info {
    padding-left: 0;
  }
  .person-info .other-info {
    display: block;
    border-right: 0;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
  }
  .person-info .other-info span {
    display: block;
  }
  .page-person .other-info:last-child {
    border-right: 0;
    border-bottom: 0;
  }
}*/


.panel .panel-heading {
  font-size: 14px;
  padding: 7px 15px;
}
.panel .panel-heading strong {
  padding: 0 5px;
  position: relative;
  top: 3px;
}
.panel .panel-heading .badge {
    top: 1px;
  }
.widget-hading .ui-select > select {
    padding: 0 14px 0 0;
    font-size: 13px;
    color: #777;
}

.widget-single-row {
  padding: 7px 0 0;

  -o-transition:color .2s ease-out, background .5s ease-in;
  -ms-transition:color .2s ease-out, background .5s ease-in;
  -moz-transition:color .2s ease-out, background .5s ease-in;
  -webkit-transition:color .2s ease-out, background .5s ease-in;
  transition:color .2s ease-out, background .5s ease-in;
}

.table-striped > tbody > tr {
  -o-transition:color .2s ease-out, background .5s ease-in;
  -ms-transition:color .2s ease-out, background .5s ease-in;
  -moz-transition:color .2s ease-out, background .5s ease-in;
  -webkit-transition:color .2s ease-out, background .5s ease-in;
  transition:color .2s ease-out, background .5s ease-in;
}

.widget-single-row:hover,
.table-striped > tbody > tr:hover {
  color: #333;
  background-color: #EFF6FF;
}
p.search-description {
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}
.search-description-wrapper {
  padding: 0px 0 7px 0;
  border-bottom: 1px dashed #DDD;
}
.search-widget .panel-body {
  padding: 0 15px;
}
.search-widget .table-responsive {
  padding: 15px 0;
}

.search-panel .ui-select > select {
  padding: 9px 22px 9px 8px;
  font-size: 13px;
}
.action-control {
  padding: 0 !important;
  top: 3px !important;
  line-height: 22px !important;
  height: 26px !important;
  text-transform: uppercase;
}
ul.dropdown-menu {
  padding: 0;
}

.header-container > .top-header .sub-menu li > a {
  padding: 7px 10px;
}

.header-container > .top-header .dropdown-menu li > a {
  color: #aaa;
  border-bottom: 1px dashed #66B5D7;
  padding: 7px 0;
}
.header-container > .top-header .dropdown-menu  li > a:last-child {
  border-bottom: 0;
}
.header-container > .top-header .top-nav .nav-left > li ul.dropdown-menu a:hover,
.header-container > .top-header .top-nav .nav-right > li ul.dropdown-menu a:hover {
  background-color: #66B5D7;
  color: #FFF;
}
.app-footer {
  background: rgba(0,0,0,.1);
  border-top: 0;
  color: #555;
  position: absolute;
  text-align: center;
  z-index: 4;
}
.app-footer .sep-pipe {
  color: #777;
  padding: 0 10px;
}
.page-search .panel {
    box-shadow: 4px 4px 7px -3px rgba(0,0,0,0.9);
}
.btn-restall {
  color: #0079c1;
  font-weight: normal;
  padding: 0;
  margin: 0;
  top: -1px;
  position: relative;
}
.btn-restall:hover {
  color: #0079c1;
}
.page-search .menu-title {
  padding-left: 0px;
  padding-bottom: 5px;
}
.page-search .sub-menu {
  padding-left: 0px;
}
.page-search .person-info h5 {
    line-height: 1.45;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    background-color: #66B5D7;
}

.pagination > li > a,
.pagination > li > span {
  margin-left: 2px;
}

/*custom nested table multi select*/
table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
}

.table-nested {
  background: #fff;
  border: 2px solid #444;
  text-align: left;
}
.table-nested th, .table-nested td {
  padding: 0;
}
.table-nested th + th, .table-nested th + td, .table-nested td + th, .table-nested td + td {
  padding-left: 5px;
}
.table-nested td {
  border-top: 1px solid;
}
.table-nested td[colspan] {
  border: none;
}
.table-nested .cell-input {
  width: 20px;
  border-right: 1px solid;
}
.table-nested .cell-members {
  width: 100px;
}
.table-nested .indent {
  display: inline-block;
}
.table-nested .parent > .cell-name {
  cursor: pointer;
}
.table-nested .parent > .cell-name > .indent {
  margin-right: 5px;
}
.table-nested .parent > .cell-name > .indent:before {
  content: "";
  font-family: FontAwesome;
  display: inline-block;
  -moz-transition: -moz-transform 0.3s;
  -o-transition: -o-transform 0.3s;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}
.table-nested .children {
  display: none;
}
.table-nested .opened > tr > .cell-name > .indent:before {
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.table-nested .opened > .children {
  display: table-row;
}

ul.dropdown-menu {
  padding: 0;
}
ul.dropdown-menu li a {
  color: #555;
  padding: 7px 10px;
}
ul.dropdown-menu li:last-child a {
  border-bottom: 0 !important;
}

.page-profile .profile-img {
    float: left;
}
.page-profile .profile-header {
  background: url("../images/background/8.jpg") no-repeat center center fixed;
}
.profile-header.custom-profile-header {
  padding: 30px 30px 30px;
  margin: 0 0 15px;
}
.profile-social h1 { margin-top: 0px; }

.profile-social .profile-icon {
  display: inline-block;
  width: 20px;
  text-align: center;
}
.profile-social .profile-icon.fs-16 {
  font-size: 16px;
}
.profile-social .profile-icon.fs-18 {
  font-size: 18px;
}
.page-profile .btn-icon-lg-alt i {
    line-height: 50px;
}
.page-profile .mini-box .btn-icon {
    font-size: 24px;
}
.page-profile .btn-icon-lg-alt {
    height: 50px;
    width: 50px;
    line-height: 50px;
}
.page-profile .mini-box .bg-info {
    background-color: #0079c1;
}

@media only screen and (max-width: 760px) {
  .pb-15{
    padding-bottom: 15px;
  }
}

.ui-accordion .panel-heading {
  text-transform: none;
  font-weight: normal;
  background-color: white;
  border: none;
  padding-left: 0px;
}

.ui-accordion .panel {
  border: none;
  box-shadow: none;
}

.ui-accordion .panel-heading .panel-title > a {
  padding: 0;
}



/* XDensity */


body {
  background-color: #464646 !important;
  background: #464646;
}
.app > .main-container:before {
  background-color: #464646 !important;
  background: #464646;
}
.body-auth #content {
    background-color: #464646;
}

.btn-info {
    color: #FFF;
    background-color: #50A5EE;
    border-color: #50A5EE;
}
.btn-info:hover {
    background-color: #4A96D8;
    border-color: #4A96D8;
}

.page-signin .main-body, .page-signup .main-body, .page-forgot .main-body {
  border-top: 0;
}
.page-signin .logo img, .page-signup .logo img, .page-forgot .logo img {
  display: inline-block;
}
.page-signin .logo, .page-signup .logo, .page-forgot .logo {
    margin: 5% 0 2%;
}
.page-signin a, .page-signup a, .page-forgot a {
    color: #FFF;
}
.page-signin a:hover, .page-signup a:hover, .page-forgot a:hover {
    color: #DDD;
}
.form-control:focus {
    border-color: #555f67;
    box-shadow: none;
}

.input-group-addon {
  color: #A09FA4;
  background-color: #292c31;
  border: 1px solid #292c31;
}

.form-control {
  color: #A0A1A5;
  background-color: #555f67;
  border: 1px solid #555f67;
}
.ui-tab-horizontal {
  border: 0;
}
.ui-tab-container .nav-tabs > li > a {
  font-size: 15px;
  padding: 10px 5px;
  letter-spacing: -1px;
}

.ui-tab-container .nav-tabs > li.active > a,
.ui-tab-container .nav-tabs > li.active:active > a,
.ui-tab-container .nav-tabs > li.active:hover > a,
.ui-tab-container .nav-tabs > li.active:focus > a,
.ui-tab-horizontal .nav-tabs > li.active > a,
.ui-tab-horizontal .nav-tabs > li.active:hover > a,
.ui-tab-horizontal .nav-tabs > li.active:focus > a {
  color: #FFF;
  background-color: #5B9BD5;
}

.ui-tab-container .tab-content {
  background: #FFF;
}

.ui-tab-container .nav-tabs > li.active:after {
    content: "";
    position: absolute;
    top: -29px;
    left: 50%;
    border: 14px solid transparent;
    border-bottom: 16px solid #5B9BD5;
    z-index: 1;
    margin-left: -14px;
}

.bg-white {
  background: rgba(255,255,255, 0.8);
}
.header-container > .top-header .logo > a {
  background: transparent;
}

.dcharts-container {
  background: #3e3e40;
  padding: 15px 0;
}


.page-dashboard .circle-container,
.page-dashboard-customer .circle-container,
.page-hr .circle-container {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 70px;
  position: relative;
}

.circle-blue .circles-text {
  color: #28bdc6;
}

.circle-green .circles-text {
  color: #90e4ad;
}

.circle-yellow .circles-text {
  color: #cce679;
}

.circle-danger .circles-text {
  color: #da1b1b;
}

.circle-warning .circles-text {
  color: #ff8400;
}

.circle-success .circles-text {
  color: #157c3e;
}

.gauge-label {
  position: relative;
  top: -10px;
}

.card {
  padding:15px 0 15px 0;
  margin: 0;
  box-shadow: none;
}
.card h5 {
  margin-bottom: 0;
}

.donut-chart {
  position: relative;
  border-radius: 50%;
  overflow: hidden;
}
.donut-chart .slice {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.donut-chart .chart-center {
  position: absolute;
  border-radius: 50%;
}
.donut-chart .chart-center span {
  display: block;
  text-align: center;
}


.donut-chart.chart1,
.donut-chart.chart2,
.donut-chart.chart3 {
  width: 65px;
  height: 65px;
  background: #666;
  margin: 0 auto;
}
.donut-chart.chart1 .slice.one {
  clip: rect(75px 37px 75px 0);
  -webkit-transform: rotate(360deg);
  transform: rotate(0deg);
  background: #28bdc6;
}

.donut-chart.chart75 .slice.one{
  clip: rect(50px 37px 75px 0);
}

.donut-chart.chart1 .slice.two {
  clip: rect(0 16px 37px 0px);
  -webkit-transform: rotate(90deg);
  transform: rotate(-270deg);
  background: #28bdc6;
}

.donut-chart.chart75 .slice.two{
  clip: rect(0 75px 37px 0px);
}

.donut-chart.chart1 .chart-center,
.donut-chart.chart2 .chart-center,
.donut-chart.chart3 .chart-center {
  top: 5px;
  left: 5px;
  width: 55px;
  height: 55px;
  background: #3e3e40;
}
.donut-chart.chart1 .chart-center span,
.donut-chart.chart2 .chart-center span,
.donut-chart.chart3 .chart-center span  {
  font-size: 21px;
  line-height: 55px;
  color: #28bdc6;
}
.donut-chart.chart1 .chart-center span:after {
  content: "10%";
}

.donut-chart.chart75 .chart-center span:after {
  content: "75%";
}

.donut-chart.chart2 .slice.one {
  clip: rect(75px 38px 75px 0px);
  -webkit-transform: rotate(360deg);
  transform: rotate(0deg);
  background: #90e4ad;
}

.donut-chart.chart2 .slice.two {
  clip: rect(0px 44px 38px 0px);
  -webkit-transform: rotate(90deg);
  transform: rotate(-270deg);
  background: #90e4ad;
}

.donut-chart.chart2 .chart-center span {
  color: #90e4ad;
}
.donut-chart.chart2 .chart-center span:after {
  content: "30%";
}


.donut-chart.chart3 {
  width: 65px;
  height: 65px;
  background: #666;
  margin: 0 auto;
}
.donut-chart.chart3 .slice.one {
  clip: rect(60px 38px 75px 0);
  -webkit-transform: rotate(360deg);
  transform: rotate(0deg);
  background: #cce679;
}
.donut-chart.chart3 .slice.two {
  clip: rect(0 75px 37px 0px);
  -webkit-transform: rotate(90deg);
  transform: rotate(-270deg);
  background: #cce679;
}

.donut-chart.chart3 .chart-center span {
  color: #cce679;
}
.donut-chart.chart3 .chart-center span:after {
  content: "60%";
}

.revenue-title,
.events-container {
  background: #2a2a2b;
}
.revenue-title h3{
  margin: 15px 0;
}
.revenue-container {
  background: #3e3e40;
}
.revenue-container h1 {
    font-family: 'Teko', sans-serif;
    font-weight: 300;
    margin: 10px 0 0;
}
.revenue-container h4 {
  font-weight: 400;
  margin-top: 0;
}
.revenue-container h5 {
  margin-top: 0;
}

.chart-container {
  padding-top: 10px;
  background: #2a2a2b;
}

.range-container {
  background: #2a2a2b;
  padding: 0 0 15px;
}
.dcharts-container h5.title {
  margin-bottom: 0px;
  margin-top: 15px;
}

.revenue-container h3 {
  margin: 10px 0 0;
}

.revenue-title h3,
.revenue-container h3,
.revenue-container h4,
.revenue-container h6,
.revenue-container h1,
.revenue-container h5,
.dcharts-container h5,
.dcharts-container h4 {
  color: #FFF;
}

.page-title {
  font-family: Lato, 'Helvetica Neue', Arial, sans-serif;
  font-size: 20px;
  color: #CCC;
}

.revenue-container .big-number {
  font-family: 'Teko', sans-serif;
  font-weight: 400;
  margin: 11px 0 0;
  color: #FFF;
  font-size: 50px;
  line-height: 1.1;
}

.revenue-container h6 {
  color: #CCC;
  margin: 0 0 12px 0;
}

.nav-justified > li, .nav-tabs.nav-justified > li {
  float: left;
  width: 33.33%;
}

.chartHeading {
  margin: 0;
  padding: 15px 0 15px 0;
  background: #2A2A2B;
  color: rgb(224, 224, 227);
}

.jslider div.jslider-label {
    color: #FFF;
    font-size: 12px;
}
.jslider div.jslider-value{
  font-size: 12px;
}
.jslider div.jslider-scale ins{
  font-size: 12px;
  color: #ccc;
}

@media only screen and (max-width: 767px) {
  .page-signin .logo, .page-signup .logo, .page-forgot .logo {
    margin: 22% 0 14%;
  }
}

@media only screen and (max-device-width :767px) and (orientation :landscape) {
  .app-footer {
    position: static;
  }
}

.top-header ul.dropdown-menu {
  height: 100vh;
  opacity: 0.9;
  box-shadow: -8px 32px 16px rgba(0, 0, 0, 0.5);
  display: block;
  min-width: 200px;
  right: -250px;
  -webkit-transition: right 1s;
  -moz-transition: right 1s;
  -o-transition: right 1s;
  transition: right 1s;
  margin: -1px 0 0 0;
}

.open > ul.dropdown-menu {
  right:0;
}

.top-header .sub-menu {
  list-style: none !important;
  padding-left: 11px;
  margin: 5px 0 5px 0;
}

.top-header .dropdown-menu .nav-item {
  padding: 7px 10px;
}

.top-header .sub-menu .nav-item {
  padding: 8px 0;
}

.top-header ul.sub-menu li.nav-item a {
  border-bottom: 0;
}

.range-container {
  text-align: center;
}

.range-container .slider-wrapper {
  max-width: 250px;
  padding-top: 10px;
  height: 30px;
  display: inline-block;
}

.slider-wrapper .jslider div.jslider-pointer{
    width: 10px;
    height: 17px;
    border-radius: 2px;
    background-color: rgb(170, 170, 170);
}

/** Landing page Old styling **/

  .page-landing {
    font-family: "roboto condensed", sans-serif;
  }

  .page-landing .nav-item .col-xs-3 {
    padding-left: 10px;
    padding-right: 10px;
    width: 27%;
  }
  .page-landing .nav-item .col-xs-4 {
    padding-right: 11px;
    width: 31.33333%;
  }
  .revenue-title h4 {
    color: #CCC;
    font-size: 16px;
    margin: 15px 0;
  }
  .page-landing .navs-list {
    margin: 0 5px 0 0;
    padding: 0;
  }

  .page-landing .navs-list .nav-item {
    background: #575B61;
    -webkit-border-top-right-radius: 20px;
    -moz-border-top-right-radius: 20px;
    -o-border-top-right-radius: 20px;
    border-top-right-radius: 20px;
  }

  .page-landing .navs-list .nav-item {
     -webkit-box-shadow: inset 0 14px 5px -9px rgba(0,0,0,0.2);
    -moz-box-shadow: inset 0 14px 5px -9px rgba(0,0,0,0.2);
    -o-box-shadow: inset 0 14px 5px -9px rgba(0,0,0,0.2);
    box-shadow: inset 0 14px 5px -9px rgba(0,0,0,0.2);
  }

  .page-landing .finance-nav .section {
    background: #82B73C;
  }

  .page-landing .customers-nav .section {
    background: #FFF;
    color: #454545;
  }

  .page-landing .people-nav .section {
    background: #C8B134;
  }

  .page-landing .projects-nav .section {
    background: #337BA1;
  }

  .page-landing .section-inner {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .page-landing .finance-nav .section-title {
    background: url(../images/right-finance.png) no-repeat top right;
  }

  .page-landing .customers-nav .section-title {
    background: url(../images/right-customers.png) no-repeat top right;
  }


  .page-landing .people-nav .section-title {
    background: url(../images/right-people.png) no-repeat top right;
  }


  .page-landing .projects-nav .section-title {
    background: url(../images/right-projects.png) no-repeat top right;
  }


  .page-landing .section {
      height: 86px;
  }

  .page-landing .value-small {
    margin: 0;
    font-size: 9px;
  }

  .page-landing .section-title .section-inner {
      padding-top: 12px;
      padding-right: 2px;
      float: right;
      text-align: center;
      width: 65px;
  }

  .page-landing .section-shadow {
    background: url(../images/section-bg.jpg) repeat-x top;
    height: 20px;
    padding: 0;
    position: relative;
  }
  .page-landing .section-shadow .rc {
    height: 20px;
    width: 16px;
    position: absolute;
    top: -1px;
    right: 0;
  }
  .page-landing .section-shadow .rc-finance {
    background: url(../images/finance-bcurve.png) no-repeat top right;
  }
  .page-landing .section-shadow .rc-customers {
    background: url(../images/customers-bcurve.png) no-repeat top right;
  }
  .page-landing .section-shadow .rc-people {
    background: url(../images/people-bcurve.png) no-repeat top right;
  }
  .page-landing .section-shadow .rc-project {
    background: url(../images/projects-bcurve.png) no-repeat top right;
  }

  .page-landing .section-info,
  .page-landing .section-title,
  .page-landing .section-contents {
    color: #FFF;
  }

  .page-landing .customers-nav .section-title {
    color: #464646;
  }

  .page-landing .section-contents {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    text-align: center;
    -webkit-box-shadow: 0 0 26px -4px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0 26px -4px rgba(0,0,0,0.5);
    -o-box-shadow: 0 0 26px -4px rgba(0,0,0,0.5);
    box-shadow: 0 0 26px -4px rgba(0,0,0,0.5);
  }

  .section.section-contents {
  }

  .page-landing .section-cont-text {
    font-size: 11px;
    padding-top: 12px;
    opacity: 0.7;
  }

  .page-landing .section-info .heading-value {
    font-size: 24px;
    margin: 7px 5px;
    letter-spacing: -1px;
    position: relative;
    display: inline-block;
  }

  .page-landing .section-info .dollar-sign {
    font-size: 15px;
    position: absolute;
    top: 0px;
    left: -9px;
    letter-spacing: 0;
  }

  .page-landing .section-info .value-label {
    font-size: 11px;
    position: absolute;
    top: 0px;
    right: -26px;
    letter-spacing: 0;
  }

  .page-landing .section-info .trend {
    position: absolute;
    bottom: 0;
    right: -31px;
    letter-spacing: 0;
  }

  .page-landing .section-info .contents-below {
    border-top: 1px solid rgba(0,0,0,0.2);
  }

  .page-landing .section-info .contents-below h5 {
    margin: 5px 0;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    min-width: 50px;
  }

  .page-landing .section-info .fa-circle {
    font-size: 8px;
    position: relative;
    top: -1px;
  }

  .page-landing .section-info .title,
  .page-landing .section-info .count-m {
    font-size: 12px;
  }
  .page-landing .section-info .doller {
    font-size: 12px;
    position: relative;
  }
  .page-landing .section-info .count {
    font-size: 12px;
  }

  .page-landing .section-info .title,
  .page-landing .section-info .doller {
    opacity: 0.5;
  }
  @media only screen and (max-width: 374px){
    .page-landing .section-info .heading-value {
      font-size: 18px;
      margin: 7px 0;
    }

    .page-landing .section-info .dollar-sign {
      font-size: 13px;
    }

    .page-landing .section-info .value-label {
      font-size: 10px;
      top: -3px;
      right: -24px;
    }

    .page-landing .section-info h5.info-value {
      margin: 5px 0;
      font-size: 8px;
      min-width: 35px;
    }

    .page-landing .section-info .contents-below h5 {
      margin: 5px 0;
      font-size: 10px;
    }
  }
  @media only screen and (max-width: 354px) {
    .section-contents .section-cont-text {
      display: none;
    }
    .page-landing .nav-item .col-xs-3 {
      width: 30%;
    }
    .page-landing .nav-item .col-xs-5 {
      width: 35%;
    }
    .page-landing .nav-item .col-xs-4 {
        width: 35%;
    }
    .card {
      float: none;
      margin: 0;
    }
    .section-info h5 {
      margin: 10px -5px;
    }
    .page-landing .section-title {
      background-size: 110px 100% !important;
      padding-right: 10px;
    }
    .page-landing .section-title .section-inner {
      padding-top: 12px;
      padding-right: 2px;
      float: right;
      text-align: center;
      width: 65px;
    }
  }


  div.circle-container {
      display: inline-block;
      margin: 0;
      padding: 0;
      width: 60px;
      position: relative;
      z-index: 1;
      left: -1px;
  }

  .circle-container div.circles-text {
    font-weight: bold;
  }

  .page-landing .bottom-section {
    padding: 10px 0;
  }

  .page-landing .icons-list {
    padding: 0;
  }

  .page-landing .icons-list .icon-item {
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-box-shadow: -14px 0 17px -13px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: -14px 0 17px -13px rgba(0, 0, 0, 0.5);
    -o-box-shadow: -14px 0 17px -13px rgba(0, 0, 0, 0.5);
    box-shadow: -14px 0 17px -13px rgba(0, 0, 0, 0.5);
  }

  .page-landing .icons-list .icon-item:hover {
    background: #2F2F2F;
  }

  .page-landing .icons-list .profile-icon {
    background: url(../images/icon-team.png) no-repeat top right;
  }

  .page-landing .icons-list .car-icon {
    background: url(../images/icon-v-tracking.png) no-repeat top right;
  }

  .page-landing .icons-list .search-icon {
    background: url(../images/icon-assets.png) no-repeat top right;
  }

  .page-landing .icons-list .icon {
    height: 50px;
    background-size: contain;
    background-position: center;
  }

  .page-landing .icons-list .count {
    position: absolute;
    background: #E8CB43;
    color: #454545;
    top: 5px;
    right: 50%;
    margin-right: -29px;
    border-radius: 50%;
  }

div.circle-container {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 70px;
    position: relative;
    z-index: 1;
    left: -1px;
}

.page-hr .tab-content > .tab-pane:not(.active),
.page-dashboard-customer .tab-content > .tab-pane:not(.active) {
    display: block;
    height: 0;
    overflow-y: hidden;
}

.white-text {
  color: #FFF;
}

.custom-select{
  border: none;
}
.custom-select select{
  min-width: 85px;
  max-width: 85px;
}

.range-container {
  padding: 0 15px 25px;
}

.trend{
  font-size: 10px
}

.green-text,
.up-trend.green-text{
  color: #00a64d;
}

.orange-text,
.down-trend.orange-text{
  color: #FFC000;
}

.ui-tab-container .down-trend.orange-text{
  color: #da1b1b;
}

.blue-text{
  color: #0070C0;
}

.grey-text{
  color: #767676;
}

.red-text{
  color: #C62B0A;
}

.revenue-container .dark-grey-text,
.dark-grey-text {
  color:#464646;
}

.revenue-container .white-text,
.white-text {
  color: #fff;
}

.revenue-container .trend{
  font-size:14px;
}

.trend-arrow{
  margin-left:5px;
  margin-right:5px;
}

.display-inline-block{
  display:  inline-block;;
}

.margin-t1{
  margin-top: 1px;
}

.customer-container:not(:last-child){
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}

.page-hr .slider-wrapper{
  min-height: 35px;
}

.db-heading{
  margin-top: 14px;
  padding: 9px 10px 10px 0;
}

.page-dashboard-customer .db-heading .sec-icon img{
  margin-right: 10px;
}

.page-dashboard .db-heading,
.page-hr .db-heading{
  padding-right: 15px;
}

.finance-db-heading{
  background: url(../images/right-finance-db.png) no-repeat top right;
}

.customers-db-heading{
  background: url(../images/right-customers-db.png) no-repeat top right;
}

.hr-db-heading{
  background: url(../images/right-people-db.png) no-repeat top right;
}
.page-sub-heading{
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 5px 0 8px 5px;
  margin: 0 0 10px 0;
}

.opacity-50{
  opacity: 0.5;
}

.big-number .sign{
  font-size: 20px;
  position: relative;
  top: -17px;
}