/*UTIL CLASSES*/

.mobile-right {
  float: right;
}
.pad-b-20{
  padding-bottom: 20px;
}

.pad-l-0{
	padding-left: 0;
}
.pad-t-0{
  padding-top: 0;
}
.pad-b-0{
  padding-bottom: 0;
}
.pad-r-0{
	padding-right: 0;
}
.pad-25{
	padding: 25px;
}

.padding-t10 {
  padding-top: 10px;
}

.margin-t20{
  margin-top: 20px;
}

.grey-text{
  color: #767676;
}

.white-text{
  color: #fff;
}

.light-grey{
  color: #ccc;
}

a {
	word-wrap: break-word;
  color: #0079c1;
}

.highlight{
  background-color: #60CFEF;
  color: #333;
}

a:hover {
	cursor: pointer;
  color: #6D8594;
}

.btn[disabled]{
  cursor:default;
  opacity: 0.9;
}

#content {
  bottom: 0;
}

.custom-modal-body{
  max-height:490px;
  overflow-y:scroll;
}

.signin-header.backgroud-white{
  background-color:#fff;
}

.btn-info {
    color: #fff;
    background-color: #0079c1;
    border-color: #0079c1;
}

.img40_40{
  height: 40px;
  width: 40px;
}

.align-bottom{
  vertical-align: bottom;
}
/*-------*/

/*SEARCH PAGE STYLES*/
.results-section{
	margin-top: 10px;
}

.results-container{
	border: 1px solid #DCDCDC;
	margin-top:10px;
}

.search-result{
  margin: 10px 0 10px 0;
}

.search-result:not(:last-child) > .desc-col .optional-links{
  border-bottom: 1px solid #DCDCDC;
}
.result-arrow i{
	font-size:110px;
}
.adv-search-mobile .dropdown-menu{
	min-width: 185px;
  left:auto;
  padding: 0 10px 0 10px;
}

.sub-menu{
	list-style: none !important;
	padding-left: 11px;
  margin: 5px 0 20px 0;
  /*max-height: 140px;
  overflow-y:auto;
  overflow-x: hidden; */
}

.sub-menu label{
	 margin: 0 10px 10px 20px;
}

.sub-menu .ui-checkbox span{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu-title{
  padding-left: 10px;
  border-bottom: 1px solid #DCDCDC;
}

.year-filter select{
	min-width: 158px;
  height: 35px;
  width:auto;
}
.relevance-filter select{
  width: auto;
}
.search-type {
  padding-left: 0;
}

.adv-search-mobile .sub-menu li span {
    white-space: normal !important;
}

.page-search .ui-accordion .panel-group .panel-heading + .panel-collapse .panel-body {
  border: none;
}

@media only screen and (max-device-width : 667px) {
 .search-bar{
 	margin-top:10px;
 }
 .relevance-filter{
 	margin:0;
 }

}
/*-------*/
/*MEDIA QUERIES*/

/*up to iPhone 6*/
@media only screen and (max-device-width : 667px) {
	.pull-right {
	 	float:left !important;
	 }
  .mobile-center{
  text-align:center;
  }

  .search-type {
    padding-left: 15px;
  }
}

/*up to iPad*/
@media only screen and (max-device-width : 768px) {

}
/*-------*/

ul.list-unstyled {
  width: 100%;
  display: block;
}

.header-container > .top-header .logo > a {
    font-size: 18px;
    vertical-align: middle;
    text-transform: uppercase;
    background: rgba(255,255,255,.1);
    padding: 15px 15px;
}

.header-container > .top-header .top-nav .nav-left {
    font-size: 14px;
}

.app-footer {
  background-color: #242633;
  border-top: 1px solid #242633;
  position: absolute;
  z-index: 4;
}

.app-footer .span {
  font-size: 14px;
  color: 'white';
}

.panel-heading {
  background-color: #f6f6f6;
  border-color: #e9e9e9;
}

.callout-success {
  margin: 0 0 5px 0;
  padding: 5px;
  border-left: 3px solid #60CD9B;
}

.callout-date {
  font-size: 12px;
}

.callout-heading {
  font-weight: bold;
}

.search-description-wrapper {
  line-height: 1.6;
  max-height: 70px;
  overflow: hidden;
  /*padding: 0 25px 0 0;*/
  word-wrap: break-word;
}

.header-container > .top-header .logo > a {
    font-size: 18px;
    vertical-align: middle;
    text-transform: uppercase;
    background: rgba(255,255,255,.1);
    padding: 15px 15px;
}

.header-container > .top-header .top-nav .nav-left {
    font-size: 14px;
}

.panel-heading {
  background-color: #f6f6f6;
  border-color: #e9e9e9;
}

.panel {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-out;
}
.panel:hover {
  box-shadow:4px 4px 7px -3px rgba(0,0,0,0.9);
}
.panel-default {
    border-color: #E9E9E9;
}
.panel-container {
  background: #FFF;
  position: relative;
  z-index: 1;
}
.panel-heading {
  background-color: #FFF;
  border-color: #EEE;
}

.widget-menu {
    position: absolute;
    right: -12px;
    width: 28px;
    min-height: 60px;
    opacity: 0.6;
    top: 8px;
    z-index: 0;
}
.widget-menu div {
    height: 30px;
    padding: 5px;
    background-color: #FFF;
    text-align: center;
    cursor: pointer;
}
.widget-menu div.remove,
.widget-menu div.expand {
    font-size: 14px;
    font-weight: bold;
    color: #888;
}
.widget-menu div.remove:hover .fa-times,
.widget-menu div.expand:hover .fa-expand {
    color: #000;
    opacity: 1;
}

@-webkit-keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
  -webkit-animation-duration: 1s;
}


@-webkit-keyframes slideOutLeft {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    z-index: -1;
    -webkit-transform: translate3d(-120%, 0, 0);
    transform: translate3d(-120%, 0, 0);
  }
}


@keyframes slideOutLeft {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    z-index: -1;
    visibility: hidden;
    -webkit-transform: translate3d(-120%, 0, 0);
    transform: translate3d(-120%, 0, 0);
  }
}

.slideOutLeft {
  -webkit-animation-name: slideOutLeft;
  animation-name: slideOutLeft;
  -webkit-animation-duration: 1.5s;
}



body {
  background-color: transparent !important;
  background: url(../images/page-bg.jpg) repeat;
}
.app > .main-container:before {
  background-color: transparent !important;
  background: url(../images/page-bg.jpg) repeat;
}
.header-container > .top-header .logo {
    position: absolute;
    width: 100%;
    height: 50px;
    line-height: 45px;
    text-align: center;
}
.header-container > .top-header .logo {
    line-height: 45px;
    text-align: center;
    width: 160px;
}
.header-container > .top-header .logo .img-responsive {
    display: inline-block;
    height: 40px;
}

.header-container.bg-white .top-nav li a:hover {
    color: #242633;
}
.header-container.bg-white .top-nav li.active a {
    color: #0079c1;
}
.panel-body {
  min-height:  342px;
}


.pl-0 {
  padding-left: 0;
}
.pr-0 {
  padding-right: 0;
}


.page {
  padding: 30px;
}
.panel-heading {
    color: #0079c1;
}
.search-panel .panel-body {
    min-height: auto;
}
.search-panel {
  position: relative;
  margin: -30px -15px 30px;
  padding: 15px 25px;
  background: url(../images/background/8.jpg) center center no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.search-panel .row{
  margin: 0 -25px;
}
.search-panel input.form-control,
.search-panel .search-btn {
  border-width: 0;
  height: 37px;
}

.search-panel .ui-select {
    border: 1px solid #FFF;
    border-left: 1px solid #DDD;
    background: #FFF;
    margin: 0;
    width: 100%;
}
.search-panel .ui-select > select {
    z-index: 99;
    display: block;
    position: relative;
    padding: 10px 22px 10px 8px;
    min-width: 100%;
    width: 100%;
}
.search-panel .ui-select:after {
  right: 10%;
}
.search-panel .btn-widget {
    border-radius: 50%;
    padding: 0px;
    background: #FFF;
    color: #FFF;
    height: 37px;
    line-height: 43px;
    outline: none;
    border: none;
    width: 37px;
}
.search-panel .btn-widget .fa {
  font-size: 22px;
  color: #0079c1;
}

.widget-hading .ui-select {
    margin: 0;
    border: 0;
}
.widget-hading .ui-select > select {
    z-index: 99;
    display: inline-block;
    padding: 0 10px 0 0;
    min-width: auto;
    font-size: 14px;
    font-weight: normal;
}
.widget-filter-container {
    padding: 15px 15px 10px 15px;
    width: 648px;
}
.dropdown-menu {
  left: -323px;
}
.result-title {
    font-size: 18px;
    font-weight: 500;
    color: #333;
}

.ui-checkbox input[type="checkbox"]:checked + span:before {
    border: 1px solid #0079c1;
}
.ui-checkbox input[type="checkbox"]:checked + span:after {
    background-color: #0079c1;
  }
.ui-checkbox input[type="checkbox"] + span:hover:before {
    border-color: #0079c1;
}


.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
    z-index: 3;
    color: #fff;
    background-color: #0079c1;
    border-color: #0079c1;
    cursor: default;
}



@media only screen and (max-width: 768px) {
  .panel-body {
    padding: 5px 10px;
  }
  .page {
    padding: 0 30px;
    overflow-x: auto;
  }
  .search-panel {
    margin: 0 -15px 30px;
    padding: 15px;
  }

  .app > .header-container.header-fixed + .main-container {
      padding-top: 50px;
  }
  .header-container > .top-header .top-nav {
    width: 75%;
    height: 50px;
    padding: 0 0;
    float: left;
    display: block;
  }
  .header-container > .top-header .logo {
      line-height: 45px;
      text-align: center;
      width: 25%;
      border: 0;
      position: relative;
      float: left;
  }
  .header-container > .top-header .logo .img-responsive {
    display: inline-block;
    height: 30px;
  }
  .header-container > .top-header .top-nav .nav-left > li > a {
    padding: 15px 9px;
  }
  .pr-15 {
    padding-right: 15px;
  }
  .page-search .container {
    margin: 0 -22px;
  }
}

.ui-select select {
  text-transform: none;
}

th, td {
  padding: 5px !important;
  font-size: 12px;
}

p.search-description {
  border-bottom: 1px dashed #eee;
}

/*changes for footer positioning*/
.app > .main-container {
    height: 100%;
    min-height: 100vh;
}

#content {
    bottom: 0;
    padding-bottom: 40px;
}
/*-------------------------*/
/*sign in page styles*/
@media only screen and (min-width: 768px){
  .login-form{
    margin-top:5%;
  }
}
/*-------------------------*/
/*profile page styles*/

.profile-header.custom-profile-header{
  padding: 20px 30px 40px;
}
.mini-box.custom-minibox{
  padding: 25px 0 25px 15px;
}
/*-------------------------*/

.panel .panel-heading {
  font-size: 17px;
}
.person-info h4 {
  margin: 0;
  color: #333;
  font-weight: normal;
}
.person-info h5 {
    color: #777;
    font-weight: normal;
    margin: 8px 0;
  }
.page-person .other-info {
  color: #333;
  font-size: 14px;
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid #ccc;
}
.page-person .other-info:last-child {
  border-right: 0;
}
.page-person .other-info span {
  color: #777;
}
.badge {
    top: -2px;
    position: relative;
}

.results-container {
    border: 0;
    border-left: 0;
    margin-top: -10px;
    box-shadow: -5px 0 7px -5px #333;
}


@media only screen and (max-width: 768px) {
  /*.person-info {
    padding-left: 0;
  }*/
  .person-info .other-info {
    display: block;
    border-right: 0;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
  }
  .page-person .other-info:last-child {
    border-right: 0;
    border-bottom: 0;
  }
  .results-container {
  border: 0;
  border-left: 0;
  margin-top: 10px;
  box-shadow: none;
}
}
/*
@media only screen and (max-width: 767px) {
  .person-info {
    padding-left: 0;
  }
  .person-info .other-info {
    display: block;
    border-right: 0;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
  }
  .person-info .other-info span {
    display: block;
  }
  .page-person .other-info:last-child {
    border-right: 0;
    border-bottom: 0;
  }
}*/


.panel .panel-heading {
  font-size: 14px;
  padding: 7px 15px;
}
.panel .panel-heading strong {
  padding: 0 5px;
  position: relative;
  top: 3px;
}
.panel .panel-heading .badge {
    top: 1px;
  }
.widget-hading .ui-select > select {
    padding: 0 14px 0 0;
    font-size: 13px;
    color: #777;
}

.widget-single-row {
  padding: 7px 0 0;

  -o-transition:color .2s ease-out, background .5s ease-in;
  -ms-transition:color .2s ease-out, background .5s ease-in;
  -moz-transition:color .2s ease-out, background .5s ease-in;
  -webkit-transition:color .2s ease-out, background .5s ease-in;
  transition:color .2s ease-out, background .5s ease-in;
}

.table-striped > tbody > tr {
  -o-transition:color .2s ease-out, background .5s ease-in;
  -ms-transition:color .2s ease-out, background .5s ease-in;
  -moz-transition:color .2s ease-out, background .5s ease-in;
  -webkit-transition:color .2s ease-out, background .5s ease-in;
  transition:color .2s ease-out, background .5s ease-in;
}

.widget-single-row:hover,
.table-striped > tbody > tr:hover {
  color: #333;
  background-color: #EFF6FF;
}
p.search-description {
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}
.search-description-wrapper {
  padding: 0px 0 7px 0;
  border-bottom: 1px dashed #DDD;
}
.search-widget .panel-body {
  padding: 0 15px;
}
.search-widget .table-responsive {
  padding: 15px 0;
}

.search-panel .ui-select > select {
  padding: 9px 22px 9px 8px;
  font-size: 13px;
}
.action-control {
  padding: 0 !important;
  top: 3px !important;
  line-height: 22px !important;
  height: 26px !important;
  text-transform: uppercase;
}
ul.dropdown-menu {
  padding: 0;
}
.header-container > .top-header .dropdown-menu li > a {
  color: #555;
  border-bottom: 1px dashed #66B5D7;
  padding: 7px 10px;
}
.header-container > .top-header .dropdown-menu  li > a:last-child {
  border-bottom: 0;
}
.header-container > .top-header .top-nav .nav-left > li ul.dropdown-menu a:hover,
.header-container > .top-header .top-nav .nav-right > li ul.dropdown-menu a:hover {
  background-color: #66B5D7;
  color: #FFF;
}
.app-footer {
  background: rgba(0,0,0,.1);
  border-top: 0;
  color: #555;
  position: absolute;
  text-align: center;
  z-index: 4;
}
.app-footer .sep-pipe {
  color: #777;
  padding: 0 10px;
}
.page-search .panel {
    box-shadow: 4px 4px 7px -3px rgba(0,0,0,0.9);
}
.btn-restall {
  color: #0079c1;
  font-weight: normal;
  padding: 0;
  margin: 0;
  top: -1px;
  position: relative;
}
.btn-restall:hover {
  color: #0079c1;
}
.page-search .menu-title {
  padding-left: 0px;
  padding-bottom: 5px;
}
.page-search .sub-menu {
  padding-left: 0px;
}
.page-search .person-info h5 {
    line-height: 1.45;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    background-color: #66B5D7;
}

.pagination > li > a,
.pagination > li > span {
  margin-left: 2px;
}

/*custom nested table multi select*/
table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
}

.table-nested {
  background: #fff;
  border: 2px solid #444;
  text-align: left;
}
.table-nested th, .table-nested td {
  padding: 0;
}
.table-nested th + th, .table-nested th + td, .table-nested td + th, .table-nested td + td {
  padding-left: 5px;
}
.table-nested td {
  border-top: 1px solid;
}
.table-nested td[colspan] {
  border: none;
}
.table-nested .cell-input {
  width: 20px;
  border-right: 1px solid;
}
.table-nested .cell-members {
  width: 100px;
}
.table-nested .indent {
  display: inline-block;
}
.table-nested .parent > .cell-name {
  cursor: pointer;
}
.table-nested .parent > .cell-name > .indent {
  margin-right: 5px;
}
.table-nested .parent > .cell-name > .indent:before {
  content: "ï”";
  font-family: FontAwesome;
  display: inline-block;
  -moz-transition: -moz-transform 0.3s;
  -o-transition: -o-transform 0.3s;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}
.table-nested .children {
  display: none;
}
.table-nested .opened > tr > .cell-name > .indent:before {
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.table-nested .opened > .children {
  display: table-row;
}

ul.dropdown-menu {
  padding: 0;
}
ul.dropdown-menu li a {
  color: #555;
  border-bottom: 1px dotted #66B5D7 !important;
  padding: 7px 10px;
}
ul.dropdown-menu li:last-child a {
  border-bottom: 0 !important;
}

.page-profile .profile-img {
    float: left;
}
.page-profile .profile-header {
  background: url("../images/background/8.jpg") no-repeat center center fixed;
}
.profile-header.custom-profile-header {
  padding: 30px 30px 30px;
  margin: 0 0 15px;
}
.profile-social h1 { margin-top: 0px; }

.profile-social .profile-icon {
  display: inline-block;
  width: 20px;
  text-align: center;
}
.profile-social .profile-icon.fs-16 {
  font-size: 16px;
}
.profile-social .profile-icon.fs-18 {
  font-size: 18px;
}
.page-profile .btn-icon-lg-alt i {
    line-height: 50px;
}
.page-profile .mini-box .btn-icon {
    font-size: 24px;
}
.page-profile .btn-icon-lg-alt {
    height: 50px;
    width: 50px;
    line-height: 50px;
}
.page-profile .mini-box .bg-info {
    background-color: #0079c1;
}

@media only screen and (max-width: 760px) {
  .pb-15{
    padding-bottom: 15px;
  }
}

.ui-accordion .panel-heading {
  text-transform: none;
  font-weight: normal;
  background-color: white;
  border: none;
  padding-left: 0px;
}

.ui-accordion .panel {
  border: none;
  box-shadow: none;
}

.ui-accordion .panel-heading .panel-title > a {
  padding: 0;
}
