/*UTIL CLASSES*/
.pad-b-20{
  padding-bottom: 20px;
}

.pad-l-0{
	padding-left: 0;
}

/*-------*/

/*SEARCH PAGE STYLES*/
.results-section{
	margin-top: 20px;
}

.results-container{
	border: 1px solid #DCDCDC;
}

.search-result{
  margin: 10px 0 10px 0;
}

.search-result:not(:last-child) > .desc-col .optional-links{
  border-bottom: 1px solid #DCDCDC;
}
.result-arrow i{
	font-size:110px;
}

/*-------*/

body {
  background: none;
  background-color: #EAEAEA;

}

ul.list-unstyled {
  width: 100%;
  display: block;
}

.header-container > .top-header .logo > a {
    font-size: 18px;
    vertical-align: middle;
    text-transform: uppercase;
    background: rgba(255,255,255,.1);
    padding: 15px 15px;
}

.header-container > .top-header .top-nav .nav-left {
    font-size: 14px;
}

.app-footer {
  background-color: #242633;
  border-top: 1px solid #242633;
}

.app-footer .span {
  font-size: 14px;
  color: 'white';
}

.panel-heading {
  background-color: #f6f6f6;
  border-color: #e9e9e9;
}

.callout-success {
  margin: 0 0 5px 0;
  padding: 5px;
  border-left: 3px solid #60CD9B;
}

.callout-date {
  font-size: 12px;
}

.callout-heading {
  font-weight: bold;
}

.search-description-wrapper {
  line-height: 1.6;
  max-height: 70px;
  overflow: hidden;
  /*padding: 0 25px 0 0;*/
  word-wrap: break-word;
}

.panel {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-out;
}
.panel:hover {
  box-shadow:4px 4px 7px -3px rgba(0,0,0,0.9);
}
.panel-default {
    border-color: #E9E9E9;
}
.panel-container {
  background: #FFF;
  position: relative;
  z-index: 1;
}
.panel-heading {
  background-color: #FFF;
  border-color: #EEE;
}

.widget-menu {
    position: absolute;
    right: -12px;
    width: 28px;
    min-height: 60px;
    opacity: 0.6;
    top: 8px;
    z-index: 0;
}
.widget-menu div {
    height: 30px;
    padding: 5px;
    background-color: #FFF;
    text-align: center;
    cursor: pointer;
}
.widget-menu div.remove,
.widget-menu div.expand {
    font-size: 14px;
    font-weight: bold;
    color: #888;
}
.widget-menu div.remove:hover .fa-times,
.widget-menu div.expand:hover .fa-expand {
    color: #000;
    opacity: 1;
}

@-webkit-keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
  -webkit-animation-duration: 1s;
}


@-webkit-keyframes slideOutLeft {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    z-index: -1;
    -webkit-transform: translate3d(-120%, 0, 0);
    transform: translate3d(-120%, 0, 0);
  }
}


@keyframes slideOutLeft {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    z-index: -1;
    visibility: hidden;
    -webkit-transform: translate3d(-120%, 0, 0);
    transform: translate3d(-120%, 0, 0);
  }
}

.slideOutLeft {
  -webkit-animation-name: slideOutLeft;
  animation-name: slideOutLeft;
  -webkit-animation-duration: 1.5s;
}

