<li class="nav-item">
  <i class="fa fa-tachometer"></i>
  <span class="text-uppercase">Dashboards</span>
  <ul class="sub-menu">
    <li class="nav-item">
      <a href="javascript://" ng-click="navigateTo('/organization-dashboard')">
        <i class="fa fa-line-chart"></i>
        <span>Organization</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="javascript://" ng-click="navigateTo('/department-dashboard')">
        <i class="fa fa-money"></i>
        <span>Departments</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="javascript://" ng-click="navigateTo('/people-dashboard')">
        <i class="fa fa-user"></i>
        <span>Vendors</span>
      </a>
    </li>
  </ul>
</li>