<li class="nav-item">
  <i class="fa fa-tachometer"></i>
  <span class="text-uppercase">Dashboards</span>
  <ul class="sub-menu">
    <li class="nav-item">
      <a href="javascript://" ng-click="navigateTo('/customers-dashboard')">
        <i class="fa fa-line-chart"></i>
        <span>Customers</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="javascript://" ng-click="navigateTo('/department-dashboard')">
        <i class="fa fa-user"></i>
        <span>Products</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="javascript://" ng-click="navigateTo('/vendors-dashboard')">
        <i class="fa fa-money"></i>
        <span>Sales</span>
      </a>
    </li>
  </ul>
</li>