<li class="nav-item">
  <i class="fa fa-tachometer"></i>
  <span class="text-uppercase">Dashboards</span>
  <ul class="sub-menu">
    <li class="nav-item">
      <a href="javascript://" ng-click="navigateTo('/financial-dashboard')">
        <i class="fa fa-line-chart"></i>
        <span>My Sales</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="javascript://" ng-click="navigateTo('/my-training')">
        <i class="fa fa-user"></i>
        <span>My Training</span>
      </a>
    </li>
  </ul>
</li>