<div class="table-responsive">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>DEAL</th>
        <th>AVG</th>
        <th>MAX</th>
        <th>MIN</th>
        <th>SUM</th>
        <th>COUNT</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat = "data in widget.data">
        <td>{{data.fields.label[0]}}</td>
        <td>{{abbreviateNumber(data.fields.AVG[0],2)}}</td>
        <td>{{abbreviateNumber(data.fields.MAX[0],2)}}</td>
        <td>{{abbreviateNumber(data.fields.MIN[0],2)}}</td>
        <td>{{abbreviateNumber(data.fields.SUM[0],2)}}</td>
        <td>{{abbreviateNumber(data.fields.count[0],2)}}</td>
      </tr>
    </tbody>
  </table>
</div>