<ul class="navs-list">
  <li class="nav-item row finance-nav">
    <a href="javascript://" class="tab-section" ng-click="navigateTo('/organization-dashboard')">
      <div class="section section-info col-xs-5">
        <div class="section-inner">
          <h1 class="heading-value">
            <span class="dollar-sign">$</span>
            43.45 M
            <span class="value-label">Budget</span>
          </h1>
          <div class="contents-below">
            <h1 class="heading-value">
              <span class="dollar-sign">$</span>
              20.45 M
              <span class="value-label">Spent</span>
            </h1>
          </div>
        </div>
      </div>
      <div class="section section-contents col-xs-3">
        <div class="section-inner">
          <div class="circle-container">
           <div ng-circles value="gauges.organization.percent" text="{{gauges.organization.text}}" width="20" colors="['#FFF', gauges.organization.colors[1]]"></div>
           <span class="circle-label">T - 90</span>
          </div>
        </div>
      </div>
      <div class="section section-title col-xs-4">
        <div class="section-inner">
          <div class="sec-icon"><img src="images/organization-icon.png" height="46" width="46" border="0" /></div>
          <h6 class="value-small">ORGANIZATION</h6>
        </div>
      </div>
      <div class=" col-xs-12 section-shadow text-right">
        <div class="rc rc-finance"></div>
      </div>
    </a>
  </li>
  <li class="nav-item row customers-nav">
    <a href="javascript://" class="tab-section" ng-click="navigateTo('/department-dashboard')">
      <div class="section section-contents col-xs-8">
        <div class="section-inner">
          <hc-chart options="deptBarChartOptions" readonly="true"/>
        </div>
      </div>
      <div class="section section-title col-xs-4">
        <div class="section-inner">
          <div class="sec-icon"><img src="images/dept-icon.png" height="46" width="46" border="0" /></div>
          <h6 class="value-small">DEPARTMENTS</h6>
        </div>
      </div>
      <div class=" col-xs-12 section-shadow text-right">
        <div class="rc rc-customers"></div>
      </div>
    </a>
  </li>
  <li class="nav-item row people-nav">
    <a href="javascript://" class="tab-section" ng-click="navigateTo('/vendors-dashboard')">
      <div class="section section-info col-xs-5">
        <div class="section-inner">
          <h1 class="heading-value">
            200
            <span class="value-label">Vendors</span>
          </h1>
          <div class="contents-below">
            <h1 class="heading-value">
              <span class="dollar-sign">$</span>
              50.00 M
              <span class="value-label">Contracts</span>
            </h1>
          </div>
        </div>
      </div>
      <div class="section section-contents col-xs-3">
        <div class="section-inner">
          <div class="circle-container">
           <div ng-circles value="gauges.vendors.percent" width="20" colors="['#FFF', gauges.vendors.colors[1]]"></div>
           <span class="circle-label">ALIGNED</span>
          </div>
        </div>
      </div>
      <div class="section section-title col-xs-4">
        <div class="section-inner">
          <div class="sec-icon"><img src="images/vendor-icon.png" height="46" width="50" border="0" /></div>
          <h6 class="value-small">VENDORS</h6>
        </div>
      </div>
      <div class=" col-xs-12 section-shadow text-right">
        <div class="rc rc-people"></div>
      </div>
    </a>
  </li>
</ul>