<div class="page-landing container" data-ng-controller="LandingCtrl">
  <div class="panel-container">
    <div class="row revenue-title">
      <div class="col-xs-12 text-center">
        <h4>Executive Summary</h4>
      </div>
    </div>
  </div>
  <ul class="navs-list">
    <li class="nav-item row">
      <a href="javascript://" class="tab-section" ng-click="navigateTo('/financial-dashboard')">
        <div class="section-contents col-xs-4">
          <h3 class="value">$ 5.3 M</h3>
          <h5 class="title">Revenue</h5>
        </div>
        <div class="section-contents col-xs-3">
          <h3 class="value">$ 4.5 M</h3>
          <h6 class="title">Budget</h6>
        </div>
        <div class="section-title col-xs-5">
          <h5 class="title">FINANCE <img src="images/Icon_finance.png" border="0" /></h5>

          <span class="action-icon hidden">
            <i class="fa fa-angle-right" aria-hidden="true"></i>
          </span>
        </div>
      </a>
    </li>
    <li class="nav-item row">
      <a href="javascript://" class="tab-section" ng-click="navigateTo('/customers-dashboard')">
        <div class="section-contents col-xs-4">
          <h3 class="value">500</h3>
          <h5 class="title">Total</h5>
        </div>
        <div class="section-contents col-xs-3">
          <h3 class="value">300</h3>
          <h6 class="title">New</h6>
        </div>
        <div class="section-title col-xs-5">
          <h5 class="title">CUSTOMERS <img src="images/Icon_customers.png" border="0" /></h5>
          <span class="action-icon hidden">
            <i class="fa fa-angle-right" aria-hidden="true"></i>
          </span>
        </div>
      </a>
    </li>
    <li class="nav-item row">
      <a href="javascript://" class="tab-section" ng-click="navigateTo('/hr-dashboard')">
        <div class="section-contents col-xs-4">
          <h3 class="value">89 %</h3>
          <h6 class="title">Retention</h6>
        </div>
        <div class="section-contents col-xs-3">
          <h3 class="value">70 %</h3>
          <h6 class="title">Satisfaction</h6>
        </div>
        <div class="section-title col-xs-5">
          <h5 class="title">HR <img src="images/Icon_hr.png" border="0" /></h5>
          <span class="action-icon hidden">
            <i class="fa fa-angle-right" aria-hidden="true"></i>
          </span>
        </div>
      </a>
    </li>
    <li class="nav-item row">
      <a href="javascript://" class="tab-section">
        <div class="section-contents col-xs-4">
          <h3 class="value">$ 5.3 M</h3>
          <h6 class="title">Inventory Value</h6>
        </div>
        <div class="section-contents col-xs-3">
          <h3 class="value">1.0 M</h3>
          <h6 class="title">Units Sold</h6>
        </div>
        <div class="section-title col-xs-5">
          <h5 class="title">PROJECTS <img src="images/Icon_projects.png" border="0" /></h5>
          <span class="action-icon hidden">
            <i class="fa fa-angle-right" aria-hidden="true"></i>
          </span>
        </div>
      </a>
    </li>
  </ul>
</div>

<style type="text/css">

body {
  background-color: #464646 !important;
  background: url(images/bg-1.jpg);
  background-size: cover;
}
.app > .main-container:before {
  background-color: #464646 !important;
    background: url(images/bg-1.jpg);
  background-size: cover;
}
.body-auth #content {
  background-color: #464646;
  background: url(images/bg-1.jpg);
  background-size: cover;
}
.revenue-title {
    background: #141725;
}
.page-landing .navs-list li:hover {
    background: rgba(20,23,37,.6);
}
.page-landing .section-title .title {
  font-size: 13px;
}
.page-landing .section-contents .title {
  white-space: nowrap;
}
.app-footer {
    color: #999;
  }


</style>
