
<div class="page-landing container" data-ng-controller="LandingCtrl">
  <div class="panel-container">
    <div class="row revenue-title">
      <div class="col-xs-12 text-center">
        <h4 class="text-uppercase">Executive Summary</h4>
      </div>
    </div>
  </div>
  <ul class="navs-list">
    <li class="nav-item row finance-nav">
      <a href="javascript://" class="tab-section" ng-click="navigateTo('/financial-dashboard')">
        <div class="section section-info col-xs-5">
          <div class="section-inner">
            <h1 class="heading-value">
              43.45 M
              <span class="arrow-up"></span>
            </h1>
            <div class="contents-below">
              <h5 class="info-value">
                <i class="fa fa-circle orange-text"></i>
                <span class="count">5.3</span>
                <span class="count-m">M</span>
              </h5>
              <h5 class="info-value">
                <i class="fa fa-circle blue-text"></i>
                <span class="count">6.1</span>
                <span class="count-m">M</span>
              </h5>
            </div>
          </div>
        </div>
        <div class="section section-contents col-xs-3">
          <div class="section-inner">
            <div class="circle-container">
             <div ng-circles value="gauges.finance.percent" width="20" colors="['#FFF', gauges.finance.colors[1]]"></div>
            </div>
          </div>
        </div>
        <div class="section section-title col-xs-4">
          <div class="section-inner">
            <div class="sec-icon"><img src="images/Icon_finance-v2.png" height="46" width="46" border="0" /></div>
            <h6 class="value-small">FINANCE</h6>
          </div>
        </div>
        <div class=" col-xs-12 section-shadow text-right">
          <div class="rc rc-finance"></div>
        </div>
      </a>
    </li>
    <li class="nav-item row customers-nav">
      <a href="javascript://" class="tab-section" ng-click="navigateTo('/customers-dashboard')">
        <div class="section section-info col-xs-5">
          <div class="section-inner">
            <h1 class="heading-value">
              500
              <span class="arrow-up"></span>
            </h1>
            <div class="contents-below">
              <h5 class="info-value">
                <i class="fa fa-circle orange-text"></i>
                <span class="count">500</span>
              </h5>
              <h5 class="info-value">
                <i class="fa fa-circle blue-text"></i>
                <span class="count">30</span>
              </h5>
            </div>
          </div>
        </div>
        <div class="section section-contents col-xs-3">
          <div class="section-inner">
            <div class="circle-container">
             <div ng-circles value="gauges.customers.percent" width="20" colors="['#FFF', gauges.customers.colors[1]]"></div>
            </div>
          </div>
        </div>
        <div class="section section-title col-xs-4">
          <div class="section-inner">
            <div class="sec-icon"><img src="images/Icon_customers-v2.png" height="46" width="46" border="0" /></div>
            <h6 class="value-small">CUSTOMERS</h6>
          </div>
        </div>
        <div class=" col-xs-12 section-shadow text-right">
          <div class="rc rc-customers"></div>
        </div>
      </a>
    </li>
    <li class="nav-item row people-nav">
      <a href="javascript://" class="tab-section" ng-click="navigateTo('/people-dashboard')">
        <div class="section section-info col-xs-5">
          <div class="section-inner">
            <h1 class="heading-value">
              70 %
              <span class="arrow-up"></span>
            </h1>
            <div class="contents-below">
              <h5 class="info-value">
                <i class="fa fa-circle orange-text"></i>
                <span class="count">70</span>
                <span class="doller">%</span>
              </h5>
              <h5 class="info-value">
                <i class="fa fa-circle blue-text"></i>
                <span class="count">50</span>
                <span class="doller">%</span>
              </h5>
            </div>
          </div>
        </div>
        <div class="section section-contents col-xs-3">
          <div class="section-inner">
            <div class="circle-container">
             <div ng-circles value="gauges.people.percent" width="20" colors="['#FFF', gauges.people.colors[1]]"></div>
            </div>
          </div>
        </div>
        <div class="section section-title col-xs-4">
          <div class="section-inner">
            <div class="sec-icon"><img src="images/Icon_people-v2.png" height="46" width="46" border="0" /></div>
            <h6 class="value-small">PEOPLE</h6>
          </div>
        </div>
        <div class=" col-xs-12 section-shadow text-right">
          <div class="rc rc-people"></div>
        </div>
      </a>
    </li>
    <li class="nav-item row projects-nav">
      <a href="javascript://" class="tab-section">
        <div class="section section-info col-xs-5">
          <div class="section-inner">
            <h1 class="heading-value">
              5.3 M
              <span class="arrow-up"></span>
            </h1>
            <div class="contents-below">
              <h5 class="info-value">
                <i class="fa fa-circle orange-text"></i>
                <span class="count">1.0</span>
                <span class="count-m">M</span>
              </h5>
              <h5 class="info-value">
                <i class="fa fa-circle blue-text"></i>
                <span class="count">1.5</span>
                <span class="count-m">M</span>
              </h5>
            </div>
          </div>
        </div>
        <div class="section section-contents col-xs-3">
          <div class="section-inner">
            <div class="circle-container">
             <div ng-circles value="gauges.projects.percent" width="20" colors="['#FFF', gauges.projects.colors[1]]"></div>
            </div>
          </div>
        </div>
        <div class="section section-title col-xs-4">
          <div class="section-inner">
            <div class="sec-icon"><img src="images/Icon_projects-v2.png" height="46" width="46" border="0" /></div>
            <h6 class="value-small">PROJECTS</h6>
          </div>
        </div>
        <div class=" col-xs-12 section-shadow text-right">
          <div class="rc rc-project"></div>
        </div>
      </a>
    </li>
  </ul>

  <div class="bottom-section">
    <ul class="icons-list row">
      <li class="icon-item col-xs-4">
        <a href="javascript://">
          <div class="icon profile-icon"></div>
          <div class="count badge badge-info">7</div>
        </a>
      </li>
      <li class="icon-item col-xs-4">
        <a href="javascript://">
          <div class="icon car-icon"></div>
          <div class="count badge badge-info">1</div>
        </a>
      </li>
      <li class="icon-item col-xs-4">
        <a href="javascript://">
          <div class="icon search-icon"></div>
          <div class="count badge badge-info">5</div>
        </a>
      </li>
    </ul>
  </div>
</div>

<style type="text/css">

  .page-landing {
    font-family: "roboto condensed", sans-serif;
  }

  .page-landing .nav-item .col-xs-3 {
    padding-left: 10px;
    padding-right: 10px;
    width: 27%;
  }
  .page-landing .nav-item .col-xs-4 {
    padding-right: 11px;
    width: 31.33333%;
  }
  .revenue-title h4 {
    color: #CCC;
    font-size: 16px;
    margin: 15px 0;
  }
  .page-landing .navs-list {
    margin: 0 5px 0 0;
    padding: 0;
  }

  .page-landing .navs-list .nav-item {
    background: #575B61;
    -webkit-border-top-right-radius: 20px;
    -moz-border-top-right-radius: 20px;
    -o-border-top-right-radius: 20px;
    border-top-right-radius: 20px;
  }
  /*
  .page-landing .navs-list .nav-item {
    background: #5B9BD5;
    -webkit-border-top-right-radius: 20px;
    -moz-border-top-right-radius: 20px;
    -o-border-top-right-radius: 20px;
    border-top-right-radius: 20px;
  } */

  .page-landing .navs-list .nav-item {
     -webkit-box-shadow: inset 0 14px 5px -9px rgba(0,0,0,0.2);
    -moz-box-shadow: inset 0 14px 5px -9px rgba(0,0,0,0.2);
    -o-box-shadow: inset 0 14px 5px -9px rgba(0,0,0,0.2);
    box-shadow: inset 0 14px 5px -9px rgba(0,0,0,0.2);
  }

  .page-landing .finance-nav .section {
    background: #82B73C;
  }

  .page-landing .customers-nav .section {
    background: #FFF;
    color: #454545;
  }

  .page-landing .people-nav .section {
    background: #C8B134;
  }

  .page-landing .projects-nav .section {
    background: #337BA1;
  }

  .page-landing .section-inner {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .page-landing .finance-nav .section-title {
    background: url(../images/right-finance.png) no-repeat top right;
  }

  .page-landing .customers-nav .section-title {
    background: url(../images/right-customers.png) no-repeat top right;
  }


  .page-landing .people-nav .section-title {
    background: url(../images/right-people.png) no-repeat top right;
  }


  .page-landing .projects-nav .section-title {
    background: url(../images/right-projects.png) no-repeat top right;
  }


  .page-landing .section {
      height: 86px;
  }

  .page-landing .value-small {
    margin: 0;
    font-size: 9px;
  }

  .page-landing .section-title .section-inner {
      padding-top: 12px;
      padding-right: 2px;
      float: right;
      text-align: center;
      width: 65px;
  }

  .page-landing .section-shadow {
    background: url(../images/section-bg.jpg) repeat-x top;
    height: 20px;
    padding: 0;
    position: relative;
  }
  .page-landing .section-shadow .rc {
    height: 20px;
    width: 16px;
    position: absolute;
    top: -1px;
    right: 0;
  }
  .page-landing .section-shadow .rc-finance {
    background: url(../images/finance-bcurve.png) no-repeat top right;
  }
  .page-landing .section-shadow .rc-customers {
    background: url(../images/customers-bcurve.png) no-repeat top right;
  }
  .page-landing .section-shadow .rc-people {
    background: url(../images/people-bcurve.png) no-repeat top right;
  }
  .page-landing .section-shadow .rc-project {
    background: url(../images/projects-bcurve.png) no-repeat top right;
  }

  .page-landing .section-info,
  .page-landing .section-title,
  .page-landing .section-contents {
    color: #FFF;
  }

  .page-landing .customers-nav .section-title {
    color: #464646;
  }

  .page-landing .section-contents {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    text-align: center;
    -webkit-box-shadow: 0 0 26px -4px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0 26px -4px rgba(0,0,0,0.5);
    -o-box-shadow: 0 0 26px -4px rgba(0,0,0,0.5);
    box-shadow: 0 0 26px -4px rgba(0,0,0,0.5);
  }

  .section.section-contents {
  }

  .page-landing .section-cont-text {
    font-size: 11px;
    padding-top: 12px;
    opacity: 0.7;
  }

  .page-landing .section-info .heading-value {
    font-size: 24px;
    margin: 7px 5px;
    letter-spacing: -1px;
  }

  .page-landing .section-info .contents-below {
    border-top: 1px solid rgba(0,0,0,0.2);
  }

  .page-landing .section-info .contents-below h5 {
    margin: 5px;
    display: inline-block;
    font-size: 18px;
    font-weight: normal;
    min-width: 50px;
  }

  .page-landing .section-info .fa-circle {
    font-size: 8px;
    position: relative;
    top: -1px;
  }

  .page-landing .section-info .title,
  .page-landing .section-info .count-m {
    font-size: 12px;
  }
  .page-landing .section-info .doller {
    font-size: 12px;
    position: relative;
  }
  .page-landing .section-info .count {
    font-size: 12px;
  }
  .page-landing .section-info .fa-circle,
  .page-landing .section-info .title,
  .page-landing .section-info .doller {
    opacity: 0.5;
  }
  @media only screen and (max-width: 374px){
    .page-landing .section-info .heading-value {
      font-size: 18px;
      margin: 7px 0;
    }

    .page-landing .section-info h5.info-value {
      margin: 5px 0;
      font-size: 8px;
      min-width: 35px;
    }
  }
  @media only screen and (max-width: 354px) {
    .section-contents .section-cont-text {
      display: none;
    }
    .page-landing .nav-item .col-xs-3 {
      width: 30%;
    }
    .page-landing .nav-item .col-xs-5 {
      width: 35%;
    }
    .page-landing .nav-item .col-xs-4 {
        width: 35%;
    }
    .card {
      float: none;
      margin: 0;
    }
    .section-info h5 {
      margin: 10px -5px;
    }
    .page-landing .section-title {
      background-size: 110px 100% !important;
      padding-right: 10px;
    }
    .page-landing .section-title .section-inner {
      padding-top: 12px;
      padding-right: 2px;
      float: right;
      text-align: center;
      width: 65px;
    }
  }


  div.circle-container {
      display: inline-block;
      margin: 0;
      padding: 0;
      width: 60px;
      position: relative;
      z-index: 1;
      left: -1px;
  }

  .circle-container div.circles-text {
    font-weight: bold;
  }

  .page-landing .bottom-section {
    padding: 10px 0;
  }

  .page-landing .icons-list {
    padding: 0;
  }

  .page-landing .icons-list .icon-item {
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-box-shadow: -14px 0 17px -13px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: -14px 0 17px -13px rgba(0, 0, 0, 0.5);
    -o-box-shadow: -14px 0 17px -13px rgba(0, 0, 0, 0.5);
    box-shadow: -14px 0 17px -13px rgba(0, 0, 0, 0.5);
  }

  .page-landing .icons-list .icon-item:hover {
    background: #2F2F2F;
  }

  .page-landing .icons-list .profile-icon {
    background: url(images/icon-team.png) no-repeat top right;
  }

  .page-landing .icons-list .car-icon {
    background: url(images/icon-v-tracking.png) no-repeat top right;
  }

  .page-landing .icons-list .search-icon {
    background: url(images/icon-assets.png) no-repeat top right;
  }

  .page-landing .icons-list .icon {
    height: 50px;
    background-size: contain;
    background-position: center;
  }

  .page-landing .icons-list .count {
    position: absolute;
    background: #E8CB43;
    color: #454545;
    top: 5px;
    right: 50%;
    margin-right: -29px;
    border-radius: 50%;
  }
</style>
