
<div class="page-landing container" data-ng-controller="LandingCtrl">
  <div class="panel-container">
    <div class="row revenue-title">
      <div class="col-xs-12 text-center">
        <h4 class="text-uppercase">Executive Summary</h4>
      </div>
    </div>
  </div>
  <ul class="navs-list">
    <li class="nav-item row finance-nav">
      <a href="javascript://" class="tab-section" ng-click="navigateTo('/financial-dashboard')">
        <div class="section section-info col-xs-5">
          <div class="section-inner">
            <h1 class="heading-value">
              43.45 M
              <span class="arrow-up"></span>
            </h1>
            <div class="contents-below">
              <h5 class="info-value">
                <i class="fa fa-circle"></i>
                <span class="count">5.3</span>
                <span class="count-m">M</span>
              </h5>
              <h5 class="info-value">
                <i class="fa fa-circle"></i>
                <span class="count">6.1</span>
                <span class="count-m">M</span>
              </h5>
            </div>
          </div>
        </div>
        <div class="section section-contents col-xs-3">
          <div class="section-inner">
            <div class="circle-container">
             <div ng-circles value="70" width="18" colors="['#767676', '#5B9BD5']" textClass="custom-text-class"></div>
            </div>
          </div>
        </div>
        <div class="section section-title col-xs-4">
          <div class="section-inner">
            <div class="sec-icon"><img src="images/Icon_finance-v2.png" height="46" width="46" border="0" /></div>
            <h6 class="value-small">FINANCE</h6>
          </div>
        </div>
        <div class=" col-xs-12 section-shadow text-right">
          <div class="rc rc-finance"></div>
        </div>
      </a>
    </li>
    <li class="nav-item row customers-nav">
      <a href="javascript://" class="tab-section" ng-click="navigateTo('/customers-dashboard')">
        <div class="section section-info col-xs-5">
          <div class="section-inner">
            <h1 class="heading-value">
              500
              <span class="arrow-up"></span>
            </h1>
            <div class="contents-below">
              <h5 class="info-value">
                <i class="fa fa-circle"></i>
                <span class="count">50</span>
              </h5>
              <h5 class="info-value">
                <i class="fa fa-circle"></i>
                <span class="count">30</span>
              </h5>
            </div>
          </div>
        </div>
        <div class="section section-contents col-xs-3">
          <div class="section-inner">
            <div class="circle-container">
             <div ng-circles value="85" width="18" colors="['#767676', '#FFF']" textClass="custom-text-class"></div>
            </div>
          </div>
        </div>
        <div class="section section-title col-xs-4">
          <div class="section-inner">
            <div class="sec-icon"><img src="images/Icon_customers-v2.png" height="46" width="46" border="0" /></div>
            <h6 class="value-small">CUSTOMERS</h6>
          </div>
        </div>
        <div class=" col-xs-12 section-shadow text-right">
          <div class="rc rc-customers"></div>
        </div>
      </a>
    </li>
    <li class="nav-item row people-nav">
      <a href="javascript://" class="tab-section" ng-click="navigateTo('/people-dashboard')">
        <div class="section section-info col-xs-5">
          <div class="section-inner">
            <h1 class="heading-value">
              70 %
              <span class="arrow-up"></span>
            </h1>
            <div class="contents-below">
              <h5 class="info-value">
                <i class="fa fa-circle"></i>
                <span class="count">30</span>
                <span class="doller">%</span>
              </h5>
              <h5 class="info-value">
                <i class="fa fa-circle"></i>
                <span class="count">40</span>
                <span class="doller">%</span>
              </h5>
            </div>
          </div>
        </div>
        <div class="section section-contents col-xs-3">
          <div class="section-inner">
            <div class="circle-container">
              <div ng-circles value="50" width="18" colors="['#767676', '#5B9BD5']" textClass="custom-text-class"></div>
            </div>
          </div>
        </div>
        <div class="section section-title col-xs-4">
          <div class="section-inner">
            <div class="sec-icon"><img src="images/Icon_people-v2.png" height="46" width="46" border="0" /></div>
            <h6 class="value-small">PEOPLE</h6>
          </div>
        </div>
        <div class=" col-xs-12 section-shadow text-right">
          <div class="rc rc-people"></div>
        </div>
      </a>
    </li>
    <li class="nav-item row projects-nav">
      <a href="javascript://" class="tab-section">
        <div class="section section-info col-xs-5">
          <div class="section-inner">
            <h1 class="heading-value">
              5.3 M
              <span class="arrow-up"></span>
            </h1>
            <div class="contents-below">
              <h5 class="info-value">
                <i class="fa fa-circle"></i>
                <span class="count">1.0</span>
                <span class="count-m">M</span>
              </h5>
              <h5 class="info-value">
                <i class="fa fa-circle"></i>
                <span class="count">1.5</span>
                <span class="count-m">M</span>
              </h5>
            </div>
          </div>
        </div>
        <div class="section section-contents col-xs-3">
          <div class="section-inner">
            <div class="circle-container">
             <div ng-circles value="70" width="18" colors="['#767676', '#FFF']" textClass="custom-text-class"></div>
            </div>
          </div>
        </div>
        <div class="section section-title col-xs-4">
          <div class="section-inner">
            <div class="sec-icon"><img src="images/Icon_projects-v2.png" height="46" width="46" border="0" /></div>
            <h6 class="value-small">PROJECTS</h6>
          </div>
        </div>
        <div class=" col-xs-12 section-shadow text-right">
          <div class="rc rc-project"></div>
        </div>
      </a>
    </li>
  </ul>

</div>

<style type="text/css">


</style>
