<div class="page-signin page-pre-landing">

    <div class="backgroud-black" ng-if="showPage">
      <div class="text-center">
        <section class="header-logo logo text-center">
          <img src="images/x-density-logo-md.png" class="img-responsive" alt="XDensity">
        </section>
      </div>
    </div>

    <div class="main-body" ng-if="showPage">
      <div class="container">
        <div class="row">
          <div class="col-md-offset-4 col-md-4 col-xs-12 text-right pl-0 pr-0">
            <a class="btn btn-block btn-lg btn-info btn-rounded" ng-href="/#/signin">
              CEO&nbsp;&nbsp;&nbsp;DASHBOARD
            </a>
            <a class="btn btn-block btn-lg btn-warning btn-rounded" ng-href="/#/signin">
              MANAGER&nbsp;&nbsp;&nbsp;DASHBOARD
            </a>
            <a class="btn btn-block btn-lg btn-success btn-rounded" ng-href="/#/signin">
              EMPLOYEE&nbsp;&nbsp;&nbsp;DASHBOARD
            </a>
          </div>
        </div>
      </div>
    </div>
</div>

<style type="text/css">
.page-pre-landing .login-form-container{
  margin-top:10%;
}
.page-pre-landing .btn-block:not(:first-child){
  margin-top:35px;
}

.page-pre-landing .btn-warning{
  background-color: #C8B134;
  border-color: #C8B134;
}

.page-pre-landing .btn-success{
  background-color: #82B73C;
  border-color: #82B73C;
}


</style>