<div class="container page-hr" data-ng-controller="HRDashCtrl as hrCtrl" ng-init="init()">
  <div class="panel-container">

    <div class="panel-body" style="padding: 0 15px 0 15px;">
      <div class="row revenue-container">
        <div class="col-xs-6 ">
          <h1 class="big-number">75%</h1>
          <!-- <div class=" text-uppercase white-text page-sub-heading">
            <span class="h6 info-value">
              <i class="fa fa-circle orange-text"></i>
              <span class="count">30</span>
              <span class="doller">%</span>
            </span>
            &nbsp;
            <span class="h6 info-value">
              <i class="fa fa-circle blue-text"></i>
              <span class="count">40</span>
              <span class="doller">%</span>
            </span>
          </div> -->
          <div class="progress-container">
            <progress-bar options="hrProgress"/>
          </div>
        </div>
        <div class="col-xs-6 text-right db-heading hr-db-heading">
          <div class="sec-icon"><img src="images/Icon_people-v2.png" height="36" width="36" border="0" /></div>
          <h6 class="value-small white-text">PEOPLE</h6>
        </div>
      </div>

      <div class="row events-container">
        <div class="margin-t10">
          <span class="h5 text-uppercase">Training & Events</span>
          <span type="button" class="btn btn-primary btn-xs pull-right" ng-click="addEvent()">
            <i class="fa fa-plus"/>
          </span>
        </div>
        <div>
          <div class="calendar-header clearfix">
            <button
              class="pull-left"
              mwl-date-modifier
              date="calendarOptions.viewDate"
              decrement="calendarOptions.view">
                <i class="fa fa-caret-left"></i>
            </button>

            <h3 class="calendar-title">{{ calendarOptions.viewTitle }}</h3>

            <button
              class="pull-right"
              mwl-date-modifier
              date="calendarOptions.viewDate"
              increment="calendarOptions.view">
                <i class="fa fa-caret-right"></i>
            </button>

          </div>

          <mwl-calendar
            view="calendarOptions.view"
            view-date="calendarOptions.viewDate"
            events="events"
            view-title="calendarOptions.viewTitle"
            edit-event-html="'<i class=\'glyphicon glyphicon-pencil\'></i>'"
            delete-event-html="'<i class=\'glyphicon glyphicon-remove\'></i>'"
            cell-is-open="calendarOptions.cellIsOpen"
            on-view-change-click="calendarOptions.enableViewChange"
            on-delete-event-click="onEventDelete(calendarEvent)"
            on-timespan-click="onTimespanClick(calendarDate, calendarCell)"
            class="my-calendar">
          </mwl-calendar>
        </div>
      </div>

      <div class="row dcharts-container">
        <div class="col-xs-4 text-center">
          <div class="circle-container circle-white">
           <div ng-circles value="gauges.satisfaction.percent" width="15" colors="gauges.satisfaction.colors" textClass="custom-text-class"></div>
          </div>
        </div>

        <div class="col-xs-4 text-center">
          <div class="circle-container circle-white">
           <div ng-circles value="gauges.retention.percent" width="15" colors="gauges.retention.colors" textClass="custom-text-class"></div>
          </div>
        </div>

        <div class="col-xs-4 text-center">
          <div class="circle-container  circle-white">
           <div ng-circles value="gauges.hiring.percent" width="15" colors="gauges.hiring.colors" textClass="custom-text-class"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="" data-ng-controller="TabsDemoCtrl">
    <div class="ui-tab-container ui-tab-horizontal">
        <uib-tabset justified="true" class="ui-tab">
          <uib-tab heading="SATISFACTION">
            <div class="slider-wrapper" style="margin-bottom:10px;">
              <input slider options="options" ng-model="hrCtrl.monthsToDisplay" ng-change="updateChart()" type="text" id="mySlider1" />
            </div>
            <div class="clearfix">
              <hc-chart options="satisfactionChart" watch="hrCtrl.monthsToDisplay"/>
            </div>
          </uib-tab>
          <uib-tab heading="RETENTION">
            <div class="slider-wrapper" style="margin-bottom:10px;">
              <input slider options="options" ng-model="hrCtrl.monthsToDisplay" ng-change="updateChart()" type="text" id="mySlider1" />
            </div>
            <div class="clearfix">
              <hc-chart options="satisfactionChart" watch="hrCtrl.monthsToDisplay"/>
            </div>
          </uib-tab>
          <uib-tab heading="HIRING">
            <div class="slider-wrapper" style="margin-bottom:10px;">
              <input slider options="options" ng-model="hrCtrl.monthsToDisplay" ng-change="updateChart()" type="text" id="mySlider1" />
            </div>
            <div class="clearfix">
              <hc-chart options="satisfactionChart" watch="hrCtrl.monthsToDisplay"/>
            </div>
          </uib-tab>
        </uib-tabset>
    </div>
  </div>

</div>

<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">New Event</h3>
    </div>
    <div class="modal-body">
        <form class="ng-pristine ng-valid">
            <div class="form-group">
                <label for="exampleInputEmail1">Title</label>
                <input type="text" ng-model="newEvent.title" class="form-control" placeholder="title">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Starts at</label>
                 <div class="input-group ui-datepicker" data-ng-controller="DatepickerDemoCtrl">
                    <input type="text"
                           class="form-control"
                           uib-datepicker-popup="{{format}}"
                           ng-model="newEvent.startDate"
                           is-open="popup1.opened"
                           datepicker-options="dateOptions"
                           date-disabled="disabled(date, mode)"
                           ng-required="true"
                           close-text="Close"
                           disabled="disabled"
                           alt-input-formats="altInputFormats" />
                    <span class="input-group-addon" ng-click="open1()">
                      <i class="fa fa-calendar"></i>
                    </span>
                  </div>
            </div>
             <div class="form-group">
                <label for="exampleInputPassword1">Ends at</label>
                <div class="input-group ui-datepicker" data-ng-controller="DatepickerDemoCtrl">
                    <input type="text"
                           class="form-control"
                           uib-datepicker-popup="{{format}}"
                           ng-model="newEvent.endDate"
                           is-open="popup1.opened"
                           min-date="newEvent.startDate"
                           datepicker-options="dateOptions"
                           date-disabled="disabled(date, mode)"
                           ng-required="true"
                           close-text="Close"
                           alt-input-formats="altInputFormats" />
                      <span class="input-group-addon" ng-click="open1()">
                      <i class="fa fa-calendar"></i>
                    </span>
                  </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">Add</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>

<style type="text/css">
  .events-container{
    padding: 0 15px 0 15px;
  }
  .ui-tab-container .nav-tabs > li > a {
    font-size: 13px;
  }

  .calendar-header {
    padding: 10px 0;
    border-bottom: 1px solid #aaa;
    text-align: center;
    margin-bottom: 10px;
  }

  .calendar-header button {
    background-color: transparent;
    border: 0;
    outline: none;
    font-size: 20px;
  }

  .calendar-header .calendar-title {
    display: inline-block;
    margin: 5px 0 0 0;
    font-size: 16px;
  }

  .my-calendar .cal-month-box,
  .my-calendar .cal-week-box,
  .my-calendar .cal-year-box,
  .my-calendar .cal-month-box .cal-row-fluid,
  .my-calendar .cal-year-box .row,
  .my-calendar .cal-month-box [class*=cal-cell],
  .my-calendar .cal-year-box [class*=span] {
    border: 0;
  }

  .my-calendar .cal-month-box [class*=cal-cell],
  .my-calendar .cal-year-box [class*=span] {
    min-height: 0;
  }

  .my-calendar .cal-cell .cal-month-day {
    height: 50px;
  }

 .my-calendar .badge {
    display: none;
  }

  .my-calendar span[data-cal-date] {
    margin-top: 5px;
    font-size: 15px;
    color: white;
    outline: none;
  }

  .my-calendar .cal-month-box .cal-day-today span[data-cal-date] {
    font-size: 15px;
    color: green;
    font-weight: bold;
    opacity: 1;
  }


  .my-calendar .cal-month-box .cal-day-today  {
    background-color: transparent;
    border: 1px solid green;
  }

  .my-calendar .cal-month-box .cal-day-today [class*=cal-cell]:hover  {
    border: 1px solid #229CD7;
  }

  .my-calendar .cal-row-fluid:hover,
  .my-calendar .cal-year-box .row:hover {
    background-color: transparent;
  }

  .my-calendar .cal-cell.drop-active,
  .my-calendar .cal-day-hour-part.drop-active,
  .my-calendar .cal-week-box .cal-cell1.drop-active,
  .my-calendar .cell-focus,
  .my-calendar [class*=cal-cell] .drop-active,
  .my-calendar [class*=cal-cell]:hover {
    background-color: transparent;
    border: 1px solid #229CD7;
    outline: none;
  }

  .my-calendar .event {
    width: 7px;
    height: 7px;
    border: 0;
  }

  .my-calendar #cal-week-box {
    display: none;
  }

  .my-calendar .cal-event-list .event.pull-left {
    margin-top: 7px;
  }

  .my-calendar .cal-slide-content {
    padding: 20px 10px 10px;
  }

  .my-calendar .glyphicon {
    font-size: 13px;
  }

  .my-calendar .glyphicon.glyphicon-pencil {
    color: #229CD7;
  }

  .my-calendar .glyphicon.glyphicon-remove {
    color: #C62B0A;
  }

  .my-calendar .cal-day-tick {
    background-color: transparent;
    border: 0;
    bottom: -18px;
    margin-right: -14px;
  }
</style>
