<div class="page page-dashboard" data-ng-controller="DashboardCtrl" ng-init="init();">
  <div class="row">
    <div class="search-panel">
      <div class="panel-body">
        <div class="row">
          <div data-ng-include="'app/shared/searchbar.html'"></div>
          <div class="col-xs-2 col-sm-2 pl-0">
            <div class="btn-group" uib-dropdown is-open="status.isopen">
              <button type="button" class="btn-widget dropdown-toggle widget-control" uib-dropdown-toggle ng-disable="disabled"><i class="fa fa-th fa-1"></i></button>
              <menu class="dropdown-menu animated fadein widget-filter-container" ng-click="$event.stopPropagation()" role="menu">
              <section>
                <!-- <div id="filters" class="sort-wo-list clearfix">
                  <input type="checkbox" id="All" name="All" value=".All" checked>
                  <label for="All" class="first">All</label>
                </div> -->
                <div data-slim-scroll data-scroll-height="340px">
                  <div id="container">
                    <section ng-repeat="widget in widgets" class="item animated fadeIn {{widget.class}} widget-option-list" ng-class="{'widget-selected':widget.isHide}">
                      <div class="mini-box" ng-mouseenter="widget.showAdded = true" ng-mouseleave="widget.showAdded = false">
                        <span class="box-icon">
                          <img ng-src="{{widget.iconUrl}}" width="90" height="90">
                        </span>
                        <div class="widget-text text-left">
                          <h4 class="text-center">{{widget.title}}
                          <span class="check-mark" ng-show="!widget.isHide">
                            <span class="fa fa-check"></span>
                          </span>
                          </h4>
                          <!-- <span ng-hide="widget.showAdded">{{widget.title}}</span> -->
                          <button class="btn btn-danger action-control" ng-show="widget.showAdded" ng-click="widget.isHide = !widget.isHide">
                          <span ng-show="widget.isHide">Add</span>
                          <span ng-show="!widget.isHide">Remove</span>
                          </button>
                          <!-- <button class="btn btn-danger action-control" ng-show="widget.showAdded && !widget.isHide" ng-click="widget.isHide = true">Remove</button> -->
                        </div>
                      </div>
                    </section>
                    <section class="item animated fadeIn {{bar3.class}} widget-option-list" ng-class="{'widget-selected':bar3.isHide}">
                      <div class="mini-box" ng-mouseenter="bar3.showAdded = true" ng-mouseleave="bar3.showAdded = !bar3.showAdded">
                        <span class="box-icon">
                          <img ng-src="{{bar3.iconUrl}}" wdith="90" height="90">
                        </span>
                        <div class="widget-text text-left">
                          <h4 class="text-center">{{bar3.title}}
                          <span class="check-mark" ng-show="!bar3.isHide">
                            <span class="fa fa-check"></span>
                          </span>
                          </h4>
                          <!-- <span ng-hide="widget.showAdded">{{bar3.title}}</span> -->
                          <button class="btn btn-danger action-control" ng-show="bar3.showAdded" ng-click="bar3.isHide = !bar3.isHide">
                          <span ng-show="bar3.isHide">Add</span>
                          <span ng-show="!bar3.isHide">Remove</span>
                          </button>
                          <!-- <button class="btn btn-danger action-control" ng-show="bar3.showAdded && !bar3.isHide" ng-click="bar3.isHide = true">Remove</button> -->
                        </div>
                      </div>
                    </section>
                    <section class="item animated fadeIn {{pie2.class}} widget-option-list" ng-class="{'widget-selected':pie2.isHide}">
                      <div class="mini-box" ng-mouseenter="pie2.showAdded = true" ng-mouseleave="pie2.showAdded = !pie2.showAdded">
                        <span class="box-icon">
                          <img ng-src="{{pie2.iconUrl}}" wdith="90" height="90">
                        </span>
                        <div class="widget-text text-left">
                          <h4 class="text-center">{{pie2.title}}
                          <span class="check-mark" ng-show="!pie2.isHide">
                            <span class="fa fa-check"></span>
                          </span>
                          </h4>
                          <!-- <span ng-hide="pie2.showAdded">{{pie2.title}}</span> -->
                          <button class="btn btn-danger action-control" ng-show="pie2.showAdded" ng-click="pie2.isHide = !pie2.isHide">
                          <span ng-show="pie2.isHide">Add</span>
                          <span ng-show="!pie2.isHide">Remove</span>
                          </button>
                          <!-- <button class="btn btn-danger action-control" ng-show="pie2.showAdded && !pie2.isHide" ng-click="pie2.isHide = true">Remove</button> -->
                        </div>
                      </div>
                    </section>
                  </div>
                </div>
              </section>
              <section class="close-menu">
                <button class="btn btn-danger text-uppercase btn-sm btn-w-lg"
                ng-click="status.isopen = false">Done</button>
              </section>
              </menu>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ul class="list-unstyled">
      <li ng-repeat = "widget in widgets" ng-if = "!widget.isHide" class="slide search-widget col-md-4 col-sm-6">
        <section class="panel panel-default"  ng-mouseenter="widget.shMenu1=true;" ng-mouseleave="widget.shMenu1=false;">
          <div class="widget-menu" ng-class="{'animated slideInLeft' : widget.shMenu1 , 'animated slideOutLeft' : !widget.shMenu1 }" ng-show="widget.shMenu1" >
            <div class="remove" ng-click="removeWidget(widget, $event);"><i class="fa fa-times"></i></div>
            <div class="expand"><i class="fa fa-expand"></i></div>
          </div>
          <div class="panel-container">
            <div class="panel-heading widget-hading">
              <strong>{{widget.title}}</strong>
              <span class="ui-select pull-right" ng-if="widget.options">
                <select ng-options="group as group.label for group in widget.options track by group.value" ng-model="widget.selectedOption" ng-change="groupingChanged(widget)">
                </select>
              </span>
            </div>
            <div class="panel-body" data-slim-scroll data-scroll-height="320px">
              <div class="row" ng-repeat = "data in widget.data">
                <div ng-if = "data.fields.table[0] === 'deal'" class="col-md-12" ng-include="'app/dashboard/templates/deals.html'"></div>
                <div ng-if = "data.fields.table[0] === 'investment'" class="col-md-12" ng-include="'app/dashboard/templates/investments.html'"></div>
                <div ng-if = "data.fields.table[0] === 'news'" class="col-md-12" ng-include="'app/dashboard/templates/news.html'"></div>
              </div>
            </div>
          </div>
        </section>
      </li>
      <li class="slide search-widget col-md-4 col-sm-6"  ng-if = "!bar3.isHide">
        <section class="panel panel-default" class="panel panel-default" ng-mouseenter="shMenu1=true;" ng-mouseleave="shMenu1=false;">
          <div class="widget-menu" ng-class="{'animated slideInLeft' : shMenu1 , 'animated slideOutLeft' : !shMenu1 }" ng-show="shMenu1" >
            <div class="remove" ng-click="removeWidget(bar3);"><i class="fa fa-times"></i></div>
            <div class="expand"><i class="fa fa-expand"></i></div>
          </div>
          <div class="panel-container">
            <div class="panel-heading"><strong>deal report</strong></div>
            <div class="panel-body" data-slim-scroll data-scroll-height="320px">
              <div class="table-responsive">
                <table class="table table-striped table-bordered">
                  <thead>
                    <tr>
                      <th>DEAL</th>
                      <th>AVG</th>
                      <th>MAX</th>
                      <th>MIN</th>
                      <th>STDEV</th>
                      <th>SUM</th>
                      <th>COUNT</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat = "data in reportData">
                      <td>{{data.fields.label[0]}}</td>
                      <td>{{data.fields.AVG[0] | number:0}}</td>
                      <td>{{data.fields.MAX[0] | number:0}}</td>
                      <td>{{data.fields.MIN[0] | number:0}}</td>
                      <td>{{data.fields.STDEV[0] | number:0}}</td>
                      <td>{{data.fields.SUM[0] | number:0}}</td>
                      <td>{{data.fields.count[0] | number:0}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </section>
      </li>
      <li class="slide search-widget col-md-4 col-sm-6" ng-if = "!pie2.isHide">
        <section class="panel panel-default"  ng-mouseenter="shMenu2=true;" ng-mouseleave="shMenu2=false;">
          <div class="widget-menu" ng-class="{'animated slideInLeft' : shMenu2 , 'animated slideOutLeft' : !shMenu2 }" ng-show="shMenu2" >
            <div class="remove" ng-click="removeWidget(pie2);"><i class="fa fa-times"></i></div>
            <div class="expand"><i class="fa fa-expand"></i></div>
          </div>
          <div class="panel-container">
            <div class="panel-heading"><strong>PIE CHART</strong></div>
            <div class="panel-body" data-slim-scroll data-scroll-height="320px">
              <div class="row">
                <div data-echarts data-options="pie2.options" style="height: 300px;"></div>
              </div>
            </div>
          </div>
        </section>
      </li>
    </ul>
  </div>
</div>
<style type="text/css">
.slide.ng-enter { transition:0.5s linear all; }
</style>