<!-- &#xF002;  -->
<div class="{{searchbarWidth}} col-sm-6 col-lg-4 col-lg-offset-3 pb-15">
  <div class="ui-typeahead input-group">
    <input
      type="text"
      uib-typeahead="entry for entry in fetchAutoComplete($viewValue)"
      typeahead-focus-first = "false"
      typeahead-on-select = "onSelect($item, $model, $label)"
      class="form-control"
      ng-model = "queryText"
      placeholder="Search" style="font-family:Arial, FontAwesome"
      ng-change="updateCtrlModel(queryText)"
      my-enter-press="queryText && search(queryText)" 
      >
      <!-- my-enter-press="queryText && search(queryText)" -->
      
      <span class="input-group-btn">
        <button class="btn btn-md btn-default search-btn" 
          ng-click="search(queryText)">
          <i class="fa fa-search"/>
        </button>
      </span>
  </div>
</div>
<div class="{{searchTypeWidth}} col-sm-3 col-lg-1 search-type">
  <span class="ui-select">
    <select ng-model="filterType" ng-change="setFilter(filterType)">
      <option value="abraajSearch" ng-selected="true">All</option>
      <option value="abraajSearchInvestments">Investments/Deals</option>
      <option value="abraajSearchPeople">Knowledge</option>
      <option value="abraajSearchKnowledge">People</option>
    </select>
  </span>
</div>