
<div class="page page-profile" ng-controller="ProfileCtrl">

  <div class="container hidden">
    <header class="custom-profile-header clearfix">
        <div class="profile-imge pb-15 text-center">
            <img alt="{{currentUser.account_s[0]}}" src="images/g1.jpg" border="0" width="50%" class="img-reponsive img-circle">
        </div>
        <h2 class="white-text text-center">{{profileInfo.name_s[0]}}James Davidson</h2>
        <h4 class="text-center white-text">Associate Manager</h4>

        <div class="profile-social pl-0 pr-0 col-xs-12">
          <div class="col-xs-4 pl-0 pr-0 profile-social-info br0">
            <h5 class="text-center">Manager <span class="text-uppercase white-text">J Martin</span></h5>
          </div>
          <div class="col-xs-4 pl-0 pr-0 profile-social-info br0">
            <h5 class="text-center">Direct Report <span class="text-uppercase white-text">2,343</span></h5>
          </div>
          <div class="col-xs-4 pl-0 pr-0 profile-social-info">
            <h5 class="text-center">Emp. ID <span class="text-uppercase white-text">Emp-0034</span></h5>
          </div>
        </div>
    </header>
    <div class="row">
        <!-- About -->
        <div class="col-sm-12">
          <div class="panel mini-box custom-minibox">
            <span class="btn-icon btn-icon-round btn-icon-lg-alt bg-info">
                <i class="fa fa-info"></i>
            </span>
            <div class="box-info" style=" max-width: 90%; text-align: justify;">
                <p class="size-h3">About Me</p>
                <p class="text-muted">
                    {{profileInfo.bio_s[0]}}
                </p>
            </div>
          </div>
        </div>

        <!-- Expertise Sectors -->
        <div class="col-sm-12">
          <div class="panel mini-box custom-minibox">
              <span class="btn-icon btn-icon-round btn-icon-lg-alt bg-info">
                  <i class="fa fa-industry"></i>
              </span>
              <div class="box-info">
                  <p class="size-h3">Expertise Sectors</p>
                  <p class="text-muted">
                    <span ng-repeat = "sector in profileInfo.expertise_sector_s">
                      {{sector}}{{$last ? '' : ', '}}
                    </span>
                  </p>
              </div>
          </div>
        </div>

        <!-- Expertise -->
        <div class="col-sm-6">
          <div class="panel mini-box custom-minibox">
              <span class="btn-icon btn-icon-round btn-icon-lg-alt bg-info">
                  <i class="fa fa-magic"></i>
              </span>
              <div class="box-info">
                  <p class="size-h3">Expertise</p>
                  <p class="text-muted">
                    <span ng-repeat = "skill in profileInfo.expertise_skills_s">
                      {{skill}}{{$last ? '' : ', '}}
                    </span>
                  </p>
              </div>
          </div>
        </div>

        <!-- Regions -->
        <div class="col-sm-6">
          <div class="panel mini-box custom-minibox">
              <span class="btn-icon btn-icon-round btn-icon-lg-alt bg-info">
                  <i class="fa fa-globe"></i>
              </span>
              <div class="box-info">
                  <p class="size-h3">Regions</p>
                  <p class="text-muted">
                    <span ng-repeat = "region in profileInfo.expertise_region_s">
                      {{region}}{{$last ? '' : ', '}}
                    </span>
                  </p>
              </div>
          </div>
        </div>

        <!-- Employment History -->
        <div class="col-sm-6">
          <div class="panel mini-box custom-minibox">
            <span class="btn-icon btn-icon-round btn-icon-lg-alt bg-info">
                <i class="fa fa-briefcase"></i>
            </span>
            <div class="box-info">
                <p class="size-h3">Employment History</p>
                <p class="text-muted">
                  <span ng-repeat = "history in profileInfo.employment_history_s">
                    {{history}}{{$last ? '' : ', '}}
                  </span>
                </p>
            </div>
          </div>
        </div>

        <!-- Interests -->
        <div class="col-sm-6">
          <div class="panel mini-box custom-minibox">
            <span class="btn-icon btn-icon-round btn-icon-lg-alt bg-info">
                <i class="fa fa-heart"></i>
            </span>
            <div class="box-info">
                <p class="size-h3">Interests</p>
                <p class="text-muted">
                  <span ng-repeat = "interest in profileInfo.interests_s">
                    {{interest}}
                  </span>
                </p>
            </div>
          </div>
        </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="panel mini-box custom-minibox">
          <span class="btn-icon btn-icon-round btn-icon-lg-alt bg-info">
              <i class="fa fa-tasks"></i>
          </span>
          <div class="box-info">
              <p class="size-h3">GICS Preferences</p>
          </div>
          <div class="panel-body">
            <div data-slim-scroll data-scroll-height="500px">
              <div ui-tree="options">
                  <ol ui-tree-nodes ng-model="list2" >
                      <li ng-repeat="item in list2" ui-tree-node ng-include="'items_renderer.html'"></li>
                  </ol>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="panel mini-box custom-minibox">
          <span class="btn-icon btn-icon-round btn-icon-lg-alt bg-info">
              <i class="fa fa-tasks"></i>
          </span>
          <div class="box-info">
              <p class="size-h3">Region Preferences</p>
          </div>
          <div class="panel-body">
            <div data-slim-scroll data-scroll-height="500px">
             <div ui-tree="options">
                <ol ui-tree-nodes ng-model="list1" >
                  <li ng-repeat="item in list1" ui-tree-node ng-include="'items_renderer.html'"></li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <img alt="" src="images/profile-img1.png" border="0" class="img-responsive">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <img alt="" src="images/profile-img2.png" border="0" class="img-responsive">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <img alt="" src="images/profile-img3.png" border="0" class="img-responsive">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <img alt="" src="images/profile-img4.png" border="0" class="img-responsive">
      </div>
    </div>
  </div>


</div>


<script type="text/ng-template" id="items_renderer.html">
    <div class="angular-ui-tree-handle">
        <span>{{item.items}}</span>
    </div>
</script>

<script type="text/ng-template" id="items_renderer.html">
    <div class="angular-ui-tree-handle" data-nodrag>
        <span data-ng-show="item.items.length > 0"><a class="angular-ui-tree-icon" data-nodrag ng-click="toggle(this)">
            <span class="angular-ui-tree-icon-collapse" ng-class="{'collapsed': collapsed, 'uncollapsed': !collapsed}"></span>
        </a></span>
        <label class="ui-checkbox">
        <input type="checkbox" value="{{item.title}}" ng-click="setPref(item, $event)"
          ng-checked="isRegionSelected(item) || item.isChecked">
        <span class="text-uppercase">{{item.title}}</span>
       </label>

    </div>
    <ol ui-tree-nodes="options" ng-model="item.items" ng-class="{hidden: collapsed}">
        <li ng-repeat="item in item.items" ui-tree-node ng-include="'items_renderer.html'">
        </li>
    </ol>
</script>

<style>
.page-profile {
  padding: 0;
}
.page-profile {
    margin: 0;
}
/*.custom-profile-header .profile-imge {
  padding: 25px 0 0;
}
.custom-profile-header h2 {
  font-weight: 500;
  margin: 10px 0 0;
}
.custom-profile-header .profile-social {
  display: block;
  margin: 0 0 15px 0;
}
.custom-profile-header .profile-social-info {
  border: 1px solid #777;
}
.custom-profile-header .profile-social-info.br0 {
    border-right: 0;
}
.custom-profile-header .profile-social h5 {
  color: #DDD;
}
.custom-profile-header .profile-social h5 span {
  display: block;
  margin: 5px 0 0;
}


.page-profile .ui-checkbox {
  margin: 0 20px 0px 20px;
}
.page-profile .ui-checkbox input[type="checkbox"] + span:before {
  position: relative;
  top: -2px;
}
.page-profile .angular-ui-tree-handle {
  border: 0;
  border-bottom: 1px solid #e9e9e9;
  padding: 2px 0;
  cursor: default;
}*/
</style>
