
<div class="page page-profile" ng-controller="ProfileCtrl">
  <div class="container">
    <header class="custom-profile-header clearfix">
      <div class="row">
        <div class="col-xs-4">
          <div class="profile-imge">
            <img alt="user" src="images/g1.jpg" border="0" class="img-responsive img-circle">
          </div>
        </div>
        <div class="col-xs-8 pl-0 profile-social">
          <h4 class="white-text">Dorthy Smith</h4>
          <h5 class="">Associate Manager Finance</h5>

          <div class="clearfix"></div>

            <div class="col-xs-4 pl-0 pr-0 profile-social-info">
              EID
            </div>
            <div class="col-xs-8 pl-0 pr-0 profile-social-info">
              <span class="white-text">123-90034</span>
            </div>
            <div class="col-xs-4 pl-0 pr-0 profile-social-info br0">
              Manager
            </div>
            <div class="col-xs-8 pl-0 pr-0 profile-social-info">
              <span class="white-text">Joe Martin</span>
            </div>

            <div class="col-xs-12 pl-0 pr-0 profile-social-team text-right">
              <div class="team-count col-xs-8 pr-0 text-right">
                Team
                <h5 class="white-text">15</h5>
              </div>
              <div class="col-xs-4 pl-0 team-count-badge">
                <img src="images/icon-team.png" width="50px" border="0" />
                <div class="badge badge-warning">7</div>
              </div>
            </div>
        </div>
      </div>
    </header>
    <div class="container container-light container-vacation">
        <!-- Vacations -->
        <div class="row">
          <div class="col-xs-6">
            <h4 class="white-text mt-0">Vacations</h4>
          </div>
        </div>
        <div class="row margin-b10">
          <div class="col-xs-6 text-center" style="padding-right: 0">
            <div class="circle-container circle-white">
             <div ng-circles value="vacationsChart.percent" text="vacationsChart.text" width="20" 
              colors="vacationsChart.colors"></div>
             <span class="white-text">Remaining</span>
            </div>
          </div>
          <div class="col-xs-6" data-ng-controller="DatepickerDemoCtrl">
            <div class="input-group ui-datepicker mb-10">
                <input type="text"
                  class="form-control"
                  datepicker-popup="{{format}}"
                  ng-model="dt"
                  is-open="opened"
                  min="minDate"
                  max="'2015-06-22'"
                  datepicker-options="dateOptions"
                  date-disabled="disabled(date, mode)"
                  ng-required="true"
                  close-text="Close"
                  placeholder="From Date">
                <span class="input-group-addon" ng-click="open($event)"><i class="fa fa-calendar"></i></span>
            </div>
            <div class="input-group ui-datepicker  mb-10">
                <input type="text"
                  class="form-control"
                  datepicker-popup="{{format}}"
                  ng-model="dt"
                  is-open="opened"
                  min="minDate"
                  max="'2015-06-22'"
                  datepicker-options="dateOptions"
                  date-disabled="disabled(date, mode)"
                  ng-required="true"
                  close-text="Close"
                  placeholder="To Date">
                <span class="input-group-addon" ng-click="open($event)"><i class="fa fa-calendar"></i></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 mb-10">
            <input type="text" placeholder="Reason" class="form-control" ng-model="reason"/>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <button type="button" class="btn btn-info btn-block" ng-disabled="!reason">Apply</button>
          </div>
        </div>
    </div>
    <div class="container container-dark container-financals">
      <!-- Financials -->
      <div class="row">
        <div class="col-xs-6">
          <h4 class="white-text mt-0">Financials</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">Financial Bar</div>
      </div>
    </div>
    <div class="container container-light container-anualrev">
      <!-- Performance -->
      <div class="row">
        <div class="col-xs-6">
          <h4 class="white-text mt-0">Annual Reviews</h4>
        </div>
      </div>
      <div class="row">
        <hc-chart options="chartConfig" watch="monthsToDisplay" class="chart-container span10"/>
      </div>
      <div class="row range-container">
        <div class="slider-wrapper">
          <input slider options="options" ng-model="monthsToDisplay" ng-change="updateChart()"
            type="text" id="mySlider1" />
        </div>
      </div>
    </div>
  </div>
</div>
