
<div class="page page-profile" ng-controller="ProfileCtrl">

  <div class="container">
    <header class="custom-profile-header clearfix">
      <div class="row">
        <div class="col-xs-4">
          <div class="profile-imge">
            <img alt="{{currentUser.account_s[0]}}" src="images/g1.jpg" border="0" class="img-responsive img-circle">
          </div>
        </div>
        <div class="col-xs-8 pl-0 profile-social">
          <h4 class="white-text">Dorthy Smith</h4>
          <h5 class="">Associate Manager Finance</h5>

          <div class="clearfix"></div>

            <div class="col-xs-4 pl-0 pr-0 profile-social-info">
              EID
            </div>
            <div class="col-xs-8 pl-0 pr-0 profile-social-info">
              <span class="white-text">123-90034</span>
            </div>
            <div class="col-xs-4 pl-0 pr-0 profile-social-info br0">
              Manager
            </div>
            <div class="col-xs-8 pl-0 pr-0 profile-social-info">
              <span class="white-text">Joe Martin</span>
            </div>

            <div class="col-xs-12 pl-0 pr-0 profile-social-team text-right">
              <div class="team-count col-xs-8 pr-0 text-right">
                Team
                <h5 class="white-text">15</h5>
              </div>
              <div class="col-xs-4 pl-0 team-count-badge">
                <img src="images/icon-team.png" width="50px" border="0" />
                <div class="badge badge-warning">7</div>
              </div>
            </div>
        </div>
      </div>
    </header>
    <div class="container container-light container-vacation">
        <!-- Vacations -->
        <div class="row">
          <div class="col-xs-6">
            <h4 class="white-text mt-0">Vacations</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            Donet Chart
          </div>
          <div class="col-xs-6" data-ng-controller="DatepickerDemoCtrl">
            <div class="input-group ui-datepicker mb-10">
                <input type="text"
                  class="form-control"
                  datepicker-popup="{{format}}"
                  ng-model="dt"
                  is-open="opened"
                  min="minDate"
                  max="'2015-06-22'"
                  datepicker-options="dateOptions"
                  date-disabled="disabled(date, mode)"
                  ng-required="true"
                  close-text="Close"
                  placeholder="From Date">
                <span class="input-group-addon" ng-click="open($event)"><i class="fa fa-calendar"></i></span>
            </div>
            <div class="input-group ui-datepicker  mb-10">
                <input type="text"
                  class="form-control"
                  datepicker-popup="{{format}}"
                  ng-model="dt"
                  is-open="opened"
                  min="minDate"
                  max="'2015-06-22'"
                  datepicker-options="dateOptions"
                  date-disabled="disabled(date, mode)"
                  ng-required="true"
                  close-text="Close"
                  placeholder="To Date">
                <span class="input-group-addon" ng-click="open($event)"><i class="fa fa-calendar"></i></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 mb-10">
            <input type="text" placeholder="Reason" class="form-control" />
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <button type="button" class="btn btn-info btn-block">Apply</button>
          </div>
        </div>
    </div>
    <div class="container container-dark container-financals">
      <!-- Financials -->
      <div class="row">
        <div class="col-xs-6">
          <h4 class="white-text mt-0">Financials</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">Financial Bar</div>
      </div>
    </div>
    <div class="container container-light container-anualrev">
      <!-- Performance -->
      <div class="row">
        <div class="col-xs-6">
          <h4 class="white-text mt-0">Annual Reviews</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">Annual Reviews Graph</div>
      </div>
    </div>
  </div>

<br />
<br />

  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <img alt="" src="images/profile-img1.png" border="0" class="img-responsive">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <img alt="" src="images/profile-img2.png" border="0" class="img-responsive">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <img alt="" src="images/profile-img3.png" border="0" class="img-responsive">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <img alt="" src="images/profile-img4.png" border="0" class="img-responsive">
      </div>
    </div>
  </div>
</div>


<script type="text/ng-template" id="items_renderer.html">
    <div class="angular-ui-tree-handle">
        <span>{{item.items}}</span>
    </div>
</script>

<script type="text/ng-template" id="items_renderer.html">
    <div class="angular-ui-tree-handle" data-nodrag>
        <span data-ng-show="item.items.length > 0"><a class="angular-ui-tree-icon" data-nodrag ng-click="toggle(this)">
            <span class="angular-ui-tree-icon-collapse" ng-class="{'collapsed': collapsed, 'uncollapsed': !collapsed}"></span>
        </a></span>
        <label class="ui-checkbox">
        <input type="checkbox" value="{{item.title}}" ng-click="setPref(item, $event)"
          ng-checked="isRegionSelected(item) || item.isChecked">
        <span class="text-uppercase">{{item.title}}</span>
       </label>

    </div>
    <ol ui-tree-nodes="options" ng-model="item.items" ng-class="{hidden: collapsed}">
        <li ng-repeat="item in item.items" ui-tree-node ng-include="'items_renderer.html'">
        </li>
    </ol>
</script>

<style>
.page-profile {
  padding: 0;
}
.page-profile {
    margin: 0;
}
.custom-profile-header {
  margin: 0 15px 0 0;
  position: fixed;
  z-index: 10;
}
.container-dark,
.custom-profile-header {
  background: #2a2a2b;
  padding: 15px;
}
.profile-social h4 {
  margin: 5px 0 5px;
}
.profile-social h5 {
  margin: 0 0 5px;
}
.profile-social-team {
  margin-top: 15px;
}
.team-count-badge {
  position: relative;
}
.team-count-badge .badge {
  position: absolute;
  color: #333;
  right: 0;
  top: -10px;
}
.container-light {
  background: #3e3e40;
  padding: 15px;
}
.container-vacation {
  margin-top: 182px;
}
.container-vacation .form-control {
  color: #2a2a2a;
  background-color: #e4e4e4;
  border: 1px solid #e4e4e4;
  font-size: 13px;
}
.container-vacation .input-group-addon {
  color: #727272;
  background-color: #e4e4e4;
  border: 1px solid #e4e4e4;
}
.container-vacation .input-group-addon .fa {
  font-size: 18px;
}
.mb-10 {
  margin-bottom: 10px;
}
.container-dark h4,
.container-light h4 {
  margin-top: 0;
}
</style>
