<div class="page page-dashboard-customer" data-ng-controller="DepartmentDashCtrl"
  ng-init="init()">
  <div class="row">
    <div class="panel-container">

      <div class="panel-body" style="padding: 0 15px 0 15px;">
        <div class="row depart-db-heading">
          <div class="col-xs-12 pl-0 pr-0">
            <uib-tabset class="ui-tab">
              <uib-tab heading="HR" ng-click="setActiveTab('HR')"></uib-tab>
              <uib-tab heading="TECH" ng-click="setActiveTab('Tech')"></uib-tab>
              <uib-tab heading="BRD" ng-click="setActiveTab('Broadcast')"></uib-tab>
              <uib-tab heading="FIN" ng-click="setActiveTab('Finance')"></uib-tab>
            </uib-tabset>
          </div>
          <div class="col-xs-6 text-right db-heading customers-db-heading hidden">
            <div class="sec-icon hidden"><img src="images/dept-icon.png" height="36" width="36" border="0" /></div>
            <h6 class="value-small dark-grey-text hidden">DEPARTMENTS</h6>
          </div>
        </div>
        <div class="row dept-summary-section">
          <div class="dept-info-section col-xs-5">
            <div class="count-sec-container clearfix hr-line">
              <h1 class="heading-value">
                <span class="pull-left value-one ff-rc">{{tab.vendors}}</span>
                <div class="pull-left lh-18">
                  <span class="value-title color-white ff-rc">vendors</span>
                  <span class="dollar-sign ff-rc">$</span>
                  <span class="value-sec ff-rc">{{formatNumberFromString(tab.contractValue)}}</span>
                </div>
              </h1>
            </div>
            <div class="count-sec-container clearfix">
              <h1 class="heading-value">
                <span class="pull-left value-one ff-rc color-blue">{{tab.upcomingRenewalsR4}}</span>
                <div class="pull-left lh-16">
                  <span class="value-title color-blue ff-rc">renewals</span>
                  <span class="dollar-sign ff-rc color-blue">$</span>
                  <span class="value-sec ff-rc color-blue">{{formatNumberFromString(tab.upcomingRenewalsValue)}}</span>
                </div>
              </h1>
            </div>

          </div>
          <div class="dept-alignment-section col-xs-7">
            <div class="dept-renewals col-xs-7 big-number text-right">
                <h5 class="lh-18">2016<br />
                  Budget vs Spent
                </h5>
                <h5 class="lh-18">
                  $ {{formatNumberFromString(tab.Budget)}}<br />
                  $ {{formatNumberFromString(tab.Spend)}}
                </h5>
            </div>
            <div class="dept-alignment col-xs-5">
              <div class="circle-container circle-white" ng-if="deptAlignment.percent">
               <div ng-circles value="deptAlignment.percent" width="20"
                colors="deptAlignment.colors"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="row revenue-title">
          <hc-chart options="chartConfig" class="chart-container span10"/>
        </div>
        <div class="row vendors-progress">
          <div class="progress-container">
            <progress-bar options="vendorsProgress"/>
          </div>
        </div>
        <div class="row vendors-row">
          <h3 class="vendors-heading text-center">Top 5 Vendors</h3>
          <div class="col-xs-4 margin-t10">
            <hc-chart options="vendorsChartOptions"/>
          </div>
          <div class="col-xs-8 margin-t10">
            <ul>
              <li>
                Acme Corporation
              </li>
              <li>
                Mercury Consulting
              </li>
              <li>
                Omega Technologies
              </li>
              <li>
                Starlight Systems
              </li>
              <li>
                Platinum Consulting
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>

<style type="text/css">
</style>
