<div class="page page-dashboard-customer" data-ng-controller="DepartmentDashCtrl"
  ng-init="init()">
  <div class="row">
    <div class="panel-container">

      <div class="panel-body" style="padding: 0 15px 0 15px;">
        <div class="row depart-db-heading">
          <div class="col-xs-12 pl-0 pr-0">
            <uib-tabset class="ui-tab">
              <uib-tab heading="HR" ng-click="setActiveTab('HR')"></uib-tab>
              <uib-tab heading="TECH" ng-click="setActiveTab('Tech')"></uib-tab>
              <uib-tab heading="BRD" ng-click="setActiveTab('Broadcast')"></uib-tab>
              <uib-tab heading="FIN" ng-click="setActiveTab('Finance')"></uib-tab>
            </uib-tabset>
          </div>
          <div class="col-xs-6 text-right db-heading customers-db-heading hidden">
            <div class="sec-icon hidden"><img src="images/dept-icon.png" height="36" width="36" border="0" /></div>
            <h6 class="value-small dark-grey-text hidden">DEPARTMENTS</h6>
          </div>
        </div>
        <div class="row dept-summary-section">
          <div class="dept-info-section col-xs-5 pr-0">
            <div class="count-sec-container clearfix hr-line">
              <h1 class="heading-value text-center">
                <span class="value-one display-inline-block ff-rc">{{tab.vendors}}</span>
                <div class="lh-16 display-inline-block text-left">
                  <span class="value-title color-white ff-rc">vendors</span>
                  <span class="dollar-sign ff-rc">$</span>
                  <span class="value-sec ff-rc" ng-if="tab">{{formatNumberFromString(tab.contractValue)}}</span>
                </div>
              </h1>
            </div>
            <div class="count-sec-container clearfix">
              <h1 class="heading-value text-center">
                <span class="value-one display-inline-block ff-rc color-blue">{{tab.upcomingRenewalsR4}}</span>
                <div class="lh-16 display-inline-block text-left">
                  <span class="value-title color-blue ff-rc">renewals</span>
                  <span class="dollar-sign ff-rc color-blue">$</span>
                  <span class="value-sec ff-rc color-blue" ng-if="tab">
                    {{formatNumberFromString(tab.upcomingRenewalsValue)}}
                  </span>
                </div>
              </h1>
            </div>
          </div>
          <div class="dept-alignment-section col-xs-7">
            <div class="dept-renewals col-xs-7 big-number text-right">
                <h5 class="lh-18 session-value">2016<br />
                  Budget vs Spent
                </h5>
                <h5 class="lh-18 currency-value" ng-if="tab">
                  $ {{formatNumberFromString(tab.Budget)}}<br />
                  $ {{formatNumberFromString(tab.Spend)}}
                </h5>
            </div>
            <div class="dept-alignment col-xs-5">
              <div class="circle-container circle-white" ng-if="deptAlignment.percent">
               <div ng-circles value="deptAlignment.percent" width="20"
                colors="deptAlignment.colors"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="row revenue-title">
          <hc-chart options="deptTrendChart" class="chart-container span10"/>
        </div>
        <div class="row vendors-progress">
          <div class="progress-container">
            <progress-bar options="vendorsProgress"/>
          </div>
        </div>
        <div class="row vendors-row">
          <h4 class="vendors-heading text-center">Top 5 Vendors</h4>
          <div class="col-xs-6 margin-t10">
            <hc-chart options="topVendorsChart"/>
          </div>
          <div class="col-xs-6 margin-t10">
            <ul class="top-venters-labels">
              <li ng-repeat = "vendor in topVendors">
                {{vendor.vendorName}}
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>

<style type="text/css">

.page-dashboard-customer .vendors-row {
  background: #EDEDED;
  padding: 10px 0;
  color: #2A2A2B;
  font-family: "roboto condensed", sans-serif;
}
.page-dashboard-customer .vendors-row ul {
  font-size: 12px;
  margin-left: 10px;
}
.page-dashboard-customer .vendors-row ul li {
  padding: 1px 0;
  line-height: 18px;
}
.page-dashboard-customer .vendors-row .vendors-heading {
  font-size: 18px;
  font-family: "Droid Sans";
  margin: 10px 0;
}

.page-dashboard-customer .currency-value {
  font-weight: 100;
}
.page-dashboard-customer .dept-alignment-section .dept-renewals .session-value {
  font-weight: bold;
}
</style>
