<div class="page-signin" data-ng-controller="LoginCtrl as loginCtrl">

    <div class="backgroud-black">
        <div class="text-center">
            <section class="logo text-center">
                <img src="images/xdensity-logo.png" class="img-responsive" alt="XDensity">
            </section>
        </div>
    </div>

    <div class="main-body">
        <div class="container">
            <div class="row">
                <center>
                  <div class="col-md-offset-4 col-sm-offset-3 col-md-4 col-sm-6 alert alert-danger"
                    ng-show="errorAlert">
                    Invalid username entered. Please try again.
                  </div>
                </center>
            </div>
            <div class="form-container">

                <form class="form-horizontal login-form" name="loginForm" ng-submit="doLogin()">
                    <fieldset>
                        <div class="form-group">
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-user"></span>
                                </span>
                                <input type="text"
                                       class="form-control"
                                       placeholder="username"
                                       ng-model="userName"
                                       ng-change="errorAlert = false"
                                       >
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-lock"></span>
                                </span>
                                <input type="text"
                                       class="form-control"
                                       placeholder="password"
                                       ng-model="password"
                                       ng-change="errorAlert = false"
                                       >
                            </div>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-info btn-lg btn-block"
                                type="submit">Sign in
                            </button>
                        </div>
                    </fieldset>
                </form>

                <section>
                    <p hidden class="text-center"><a href="#/forgot">Forgot your password?</a></p>
                    <p class="text-center text-muted">Not a memeber? <a href="#/signup">Sign up now &nbsp;<i class="fa fa-arrow-right"></i></a></p>
                </section>

            </div>
        </div>
    </div>

</div>